---
layout: default
title: Home
---

{% for post in paginator.posts %}
<article class="post">

  <header>
    {% assign a = site.authors[post.author] %}
    <h2 class="post-title">{{ post.title }}</h2>
    <h5 class="post-meta">
      {% if a.gravatar %}
        <img class="gravatar" src="{{ a.gravatar | gravatar_url }}">
      {% endif %}
      {% if a %}
        by {{ a.name }}
        {% if a.twitter %}
          (<a href="http://twitter.com/{{ a.twitter }}">@{{ a.twitter }}</a>)
        {% endif %}
      {% endif %}
      on {{ post.date | date_slash }}
    </h5>
  </header>

  {{ post.content }}
</article>
{% endfor %}

