<nav class="navbar navbar-static-top" role="navigation">
  <section class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://cocoapods.org"></a>
    </div>

    <div class="collapse navbar-collapse navbar-header-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">API Docs</a></li>
        <li><a href="#">Guides</a></li>
        <li class="active"><a href="/">Blog</a></li>
      </ul>
    </div>
  </section>
</nav>

