@font-face {
    font-family: 'gt_walsheim_regular';
    src: url('/assets/gt-walsheim-bold-web-1b556d7a1dae6ea82526af1837c1b939.eot');
    src: url('/assets/gt-walsheim-bold-web-1b556d7a1dae6ea82526af1837c1b939.eot?#iefix') format('embedded-opentype'),
         url('/assets/gt-walsheim-bold-web-faaab01f9a381583a5a1c38988037556.woff') format('woff'),
         url('/assets/gt-walsheim-bold-web-47308b45d2fa748be8b7ed5655aeedc9.ttf') format('truetype'),
         url('/assets/gt-walsheim-bold-web-d54e9eef21d87e44ee1124d0fc48001d.svg#gt_walsheim_bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gt_walsheim_bold_oblique';
    src: url('/assets/gt-walsheim-bold-oblique-web-4f21fa915b6d448b8f0cddc7081c4326.eot');
    src: url('/assets/gt-walsheim-bold-oblique-web-4f21fa915b6d448b8f0cddc7081c4326.eot?#iefix') format('embedded-opentype'),
         url('/assets/gt-walsheim-bold-oblique-web-2e325cbcf5fdc661d5682f72b98d65ad.woff') format('woff'),
         url('/assets/gt-walsheim-bold-oblique-web-d9e0d5819fbd2a595ade0c74d28a2b95.ttf') format('truetype'),
         url('/assets/gt-walsheim-bold-oblique-web-5d344a1cb9ba7480dc6978107b71f0a9.svg#gt_walsheim_bold_oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_walsheim_regular';
    src: url('/assets/gt-walsheim-web-15de8946f8f1a2ab886fcc8bb853a26e.eot');
    src: url('/assets/gt-walsheim-web-15de8946f8f1a2ab886fcc8bb853a26e.eot?#iefix') format('embedded-opentype'),
         url('/assets/gt-walsheim-web-a67ce717d4835e24a9418fd32cf50272.woff') format('woff'),
         url('/assets/gt-walsheim-web-94f95c3e2d99dc0e77e896f7f383d0c3.ttf') format('truetype'),
         url('/assets/gt-walsheim-web-175a679dd620063e593326d3a86294ad.svg#gt_walsheim_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gt_walsheim_regular_oblique';
    src: url('/assets/gt-walsheim-regular-oblique-web-70e3a8893b9b2fd165124331a40be704.eot');
    src: url('/assets/gt-walsheim-regular-oblique-web-70e3a8893b9b2fd165124331a40be704.eot?#iefix') format('embedded-opentype'),
         url('/assets/gt-walsheim-regular-oblique-web-2eb9b0158b1e1955587682524131feb9.woff') format('woff'),
         url('/assets/gt-walsheim-regular-oblique-web-397622b9faae0ee1b1720c915fc3274d.ttf') format('truetype'),
         url('/assets/gt-walsheim-regular-oblique-web-6e7032bb8df15cfb3fbabd60d52c782c.svg#gt_walsheim_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.highlight .hll {
  background-color: #ffffcc; }

.highlight {
  background: #ffffff;
  color: #000000;
  background-color: white; }

.highlight .c {
  color: #bcc8ba;
  background-color: white; }

/* Comment */
.highlight .err {
  color: #000000;
  background-color: white; }

/* Error */
.highlight .g {
  color: #000000;
  background-color: white; }

/* Generic */
.highlight .k {
  color: #af956f;
  background-color: white; }

/* Keyword */
.highlight .l {
  color: #000000;
  background-color: white; }

/* Literal */
.highlight .n {
  color: #000000;
  background-color: white; }

/* Name */
.highlight .o {
  color: #000000;
  background-color: white; }

/* Operator */
.highlight .x {
  color: #000000;
  background-color: white; }

/* Other */
.highlight .p {
  color: #000000;
  background-color: white; }

/* Punctuation */
.highlight .cm {
  color: #bcc8ba;
  background-color: white; }

/* Comment.Multiline */
.highlight .cp {
  color: #af956f;
  background-color: white; }

/* Comment.Preproc */
.highlight .c1 {
  color: #bcc8ba;
  background-color: white; }

/* Comment.Single */
.highlight .cs {
  color: #bcc8ba;
  background-color: white; }

/* Comment.Special */
.highlight .gd {
  color: #f25454;
  background-color: white; }

/* Generic.Deleted */
.highlight .ge {
  color: #000000;
  text-decoration: underline;
  background-color: white; }

/* Generic.Emph */
.highlight .gr {
  color: #000000;
  background-color: white; }

/* Generic.Error */
.highlight .gh {
  color: #000000;
  font-weight: bold;
  background-color: white; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  font-weight: bold;
  background-color: #a1e85d; }

/* Generic.Inserted */
.highlight .go {
  color: #bfbfbf;
  background-color: #f2f2f2; }

/* Generic.Output */
.highlight .gp {
  color: #000000;
  background-color: white; }

/* Generic.Prompt */
.highlight .gs {
  color: #000000;
  background-color: white; }

/* Generic.Strong */
.highlight .gu {
  color: #000000;
  font-weight: bold;
  background-color: white; }

/* Generic.Subheading */
.highlight .gt {
  color: #000000;
  background-color: #ff002a; }

/* Generic.Traceback */
.highlight .kc {
  color: #af956f;
  background-color: white; }

/* Keyword.Constant */
.highlight .kd {
  color: #af956f;
  background-color: white; }

/* Keyword.Declaration */
.highlight .kn {
  color: #af956f;
  background-color: white; }

/* Keyword.Namespace */
.highlight .kp {
  color: #af956f;
  background-color: white; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #af956f;
  background-color: white; }

/* Keyword.Reserved */
.highlight .kt {
  color: #000000;
  background-color: white; }

/* Keyword.Type */
.highlight .ld {
  color: #000000;
  background-color: white; }

/* Literal.Date */
.highlight .m {
  color: #46a609;
  background-color: white; }

/* Literal.Number */
.highlight .s {
  color: #5d90cd;
  background-color: white; }

/* Literal.String */
.highlight .na {
  color: #000000;
  background-color: white; }

/* Name.Attribute */
.highlight .nb {
  color: #000000;
  background-color: white; }

/* Name.Builtin */
.highlight .nc {
  color: #000000;
  background-color: white; }

/* Name.Class */
.highlight .no {
  color: #000000;
  background-color: white; }

/* Name.Constant */
.highlight .nd {
  color: #000000;
  background-color: white; }

/* Name.Decorator */
.highlight .ni {
  color: #000000;
  background-color: white; }

/* Name.Entity */
.highlight .ne {
  color: #000000;
  background-color: white; }

/* Name.Exception */
.highlight .nf {
  color: #000000;
  background-color: white; }

/* Name.Function */
.highlight .nl {
  color: #5d90cd;
  background-color: white; }

/* Name.Label */
.highlight .nn {
  color: #000000;
  background-color: white; }

/* Name.Namespace */
.highlight .nx {
  color: #000000;
  background-color: white; }

/* Name.Other */
.highlight .py {
  color: #000000;
  background-color: white; }

/* Name.Property */
.highlight .nt {
  color: #af956f;
  background-color: white; }

/* Name.Tag */
.highlight .nv {
  color: #c52727;
  background-color: white; }

/* Name.Variable */
.highlight .ow {
  color: #484848;
  background-color: white; }

/* Operator.Word */
.highlight .w {
  color: #000000;
  background-color: white; }

/* Text.Whitespace */
.highlight .mf {
  color: #46a609;
  background-color: white; }

/* Literal.Number.Float */
.highlight .mh {
  color: #46a609;
  background-color: white; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #46a609;
  background-color: white; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #46a609;
  background-color: white; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Char */
.highlight .sd {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Double */
.highlight .se {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Escape */
.highlight .sh {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Other */
.highlight .sr {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Single */
.highlight .ss {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #000000;
  background-color: white; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #c52727;
  background-color: white; }

/* Name.Variable.Class */
.highlight .vg {
  color: #c52727;
  background-color: white; }

/* Name.Variable.Global */
.highlight .vi {
  color: #c52727;
  background-color: white; }

/* Name.Variable.Instance */
.highlight .il {
  color: #46a609;
  background-color: white; }

/* Literal.Number.Integer.Long */
body {
  font-family: "GT Walsheim", "gt_walsheim_regular", "Avant Garde Gothic ITCW01Dm", "Avant Garde", "Helvetica Neue", "Arial"; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "GT Walsheim", "gt_walsheim_regular", "Avant Garde Gothic ITCW01Dm", "Avant Garde", "Helvetica Neue", "Arial"; }

h1, h2, h3 {
  font-weight: bold; }

h5 {
  font-size: 22px; }

aside {
  margin-top: -20px; }

.code-break {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px; }

pre.highlight {
  border-left: 2px solid #fb0006;
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding-left: 20px;
  margin-bottom: 0;
  border-radius: 0px; }

p {
  font-size: 18px;
  line-height: 1.4em;
  margin: 24px 0 32px; }

a {
  color: #fb0006; }
  a:hover, a:focus {
    color: #380200; }

.navbar {
  background-color: #380200;
  border: none;
  margin: 0;
  padding: 0; }

.navbar-nav > li > a {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  height: 50px;
  letter-spacing: 1.2pt; }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: white;
    background-color: #380200;
    padding-bottom: 5px;
    border-bottom: 4px #fb0006 solid; }
  .navbar-nav > li > a:active {
    color: white; }
.navbar-nav > .active > a {
  border-top: 6px #380200 solid;
  padding-top: 8px;
  background-color: #fb0006;
  color: white;
  font-weight: bold;
  cursor: default; }
  .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    background-color: #fb0006;
    color: white; }

.navbar-brand {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAbgAAABgCAYAAABv0GdFAAAABGdBTUEAALGPC%2FxhBQAACkFpQ0NQSUNDIFByb2ZpbGUAAEgNnZZ3VFPZFofPvTe90BIiICX0GnoJINI7SBUEUYlJgFAChoQmdkQFRhQRKVZkVMABR4ciY0UUC4OCYtcJ8hBQxsFRREXl3YxrCe%2BtNfPemv3HWd%2FZ57fX2Wfvfde6AFD8ggTCdFgBgDShWBTu68FcEhPLxPcCGBABDlgBwOFmZgRH%2BEQC1Py9PZmZqEjGs%2FbuLoBku9ssv1Amc9b%2Ff5EiN0MkBgAKRdU2PH4mF%2BUClFOzxRky%2FwTK9JUpMoYxMhahCaKsIuPEr2z2p%2BYru8mYlybkoRpZzhm8NJ6Mu1DemiXho4wEoVyYJeBno3wHZb1USZoA5fco09P4nEwAMBSZX8znJqFsiTJFFBnuifICAAiUxDm8cg6L%2BTlongB4pmfkigSJSWKmEdeYaeXoyGb68bNT%2BWIxK5TDTeGIeEzP9LQMjjAXgK9vlkUBJVltmWiR7a0c7e1Z1uZo%2Bb%2FZ3x5%2BU%2F09yHr7VfEm7M%2BeQYyeWd9s7KwvvRYA9iRamx2zvpVVALRtBkDl4axP7yAA8gUAtN6c8x6GbF6SxOIMJwuL7OxscwGfay4r6Df7n4Jvyr%2BGOfeZy%2B77VjumFz%2BBI0kVM2VF5aanpktEzMwMDpfPZP33EP%2FjwDlpzcnDLJyfwBfxhehVUeiUCYSJaLuFPIFYkC5kCoR%2F1eF%2FGDYnBxl%2BnWsUaHVfAH2FOVC4SQfIbz0AQyMDJG4%2FegJ961sQMQrIvrxorZGvc48yev7n%2Bh8LXIpu4UxBIlPm9gyPZHIloiwZo9%2BEbMECEpAHdKAKNIEuMAIsYA0cgDNwA94gAISASBADlgMuSAJpQASyQT7YAApBMdgBdoNqcADUgXrQBE6CNnAGXARXwA1wCwyAR0AKhsFLMAHegWkIgvAQFaJBqpAWpA%2BZQtYQG1oIeUNBUDgUA8VDiZAQkkD50CaoGCqDqqFDUD30I3Qaughdg%2FqgB9AgNAb9AX2EEZgC02EN2AC2gNmwOxwIR8LL4ER4FZwHF8Db4Uq4Fj4Ot8IX4RvwACyFX8KTCEDICAPRRlgIG%2FFEQpBYJAERIWuRIqQCqUWakA6kG7mNSJFx5AMGh6FhmBgWxhnjh1mM4WJWYdZiSjDVmGOYVkwX5jZmEDOB%2BYKlYtWxplgnrD92CTYRm40txFZgj2BbsJexA9hh7DscDsfAGeIccH64GFwybjWuBLcP14y7gOvDDeEm8Xi8Kt4U74IPwXPwYnwhvgp%2FHH8e348fxr8nkAlaBGuCDyGWICRsJFQQGgjnCP2EEcI0UYGoT3QihhB5xFxiKbGO2EG8SRwmTpMUSYYkF1IkKZm0gVRJaiJdJj0mvSGTyTpkR3IYWUBeT64knyBfJQ%2BSP1CUKCYUT0ocRULZTjlKuUB5QHlDpVINqG7UWKqYup1aT71EfUp9L0eTM5fzl%2BPJrZOrkWuV65d7JU%2BU15d3l18unydfIX9K%2Fqb8uAJRwUDBU4GjsFahRuG0wj2FSUWaopViiGKaYolig%2BI1xVElvJKBkrcST6lA6bDSJaUhGkLTpXnSuLRNtDraZdowHUc3pPvTk%2BnF9B%2FovfQJZSVlW%2BUo5RzlGuWzylIGwjBg%2BDNSGaWMk4y7jI%2FzNOa5z%2BPP2zavaV7%2FvCmV%2BSpuKnyVIpVmlQGVj6pMVW%2FVFNWdqm2qT9QwaiZqYWrZavvVLquNz6fPd57PnV80%2F%2BT8h%2Bqwuol6uPpq9cPqPeqTGpoavhoZGlUalzTGNRmabprJmuWa5zTHtGhaC7UEWuVa57VeMJWZ7sxUZiWzizmhra7tpy3RPqTdqz2tY6izWGejTrPOE12SLls3Qbdct1N3Qk9LL1gvX69R76E%2BUZ%2Btn6S%2FR79bf8rA0CDaYItBm8GooYqhv2GeYaPhYyOqkavRKqNaozvGOGO2cYrxPuNbJrCJnUmSSY3JTVPY1N5UYLrPtM8Ma%2BZoJjSrNbvHorDcWVmsRtagOcM8yHyjeZv5Kws9i1iLnRbdFl8s7SxTLessH1kpWQVYbbTqsPrD2sSaa11jfceGauNjs86m3ea1rakt33a%2F7X07ml2w3Ra7TrvP9g72Ivsm%2BzEHPYd4h70O99h0dii7hH3VEevo4bjO8YzjByd7J7HTSaffnVnOKc4NzqMLDBfwF9QtGHLRceG4HHKRLmQujF94cKHUVduV41rr%2BsxN143ndsRtxN3YPdn9uPsrD0sPkUeLx5Snk%2BcazwteiJevV5FXr7eS92Lvau%2BnPjo%2BiT6NPhO%2Bdr6rfS%2F4Yf0C%2FXb63fPX8Of61%2FtPBDgErAnoCqQERgRWBz4LMgkSBXUEw8EBwbuCHy%2FSXyRc1BYCQvxDdoU8CTUMXRX6cxguLDSsJux5uFV4fnh3BC1iRURDxLtIj8jSyEeLjRZLFndGyUfFRdVHTUV7RZdFS5dYLFmz5EaMWowgpj0WHxsVeyR2cqn30t1Lh%2BPs4grj7i4zXJaz7NpyteWpy8%2BukF%2FBWXEqHhsfHd8Q%2F4kTwqnlTK70X7l35QTXk7uH%2B5LnxivnjfFd%2BGX8kQSXhLKE0USXxF2JY0muSRVJ4wJPQbXgdbJf8oHkqZSQlKMpM6nRqc1phLT4tNNCJWGKsCtdMz0nvS%2FDNKMwQ7rKadXuVROiQNGRTChzWWa7mI7%2BTPVIjCSbJYNZC7Nqst5nR2WfylHMEeb05JrkbssdyfPJ%2B341ZjV3dWe%2Bdv6G%2FME17msOrYXWrlzbuU53XcG64fW%2B649tIG1I2fDLRsuNZRvfbore1FGgUbC%2BYGiz7%2BbGQrlCUeG9Lc5bDmzFbBVs7d1ms61q25ciXtH1YsviiuJPJdyS699ZfVf53cz2hO29pfal%2B3fgdgh33N3puvNYmWJZXtnQruBdreXM8qLyt7tX7L5WYVtxYA9pj2SPtDKosr1Kr2pH1afqpOqBGo%2Ba5r3qe7ftndrH29e%2F321%2F0wGNA8UHPh4UHLx%2FyPdQa61BbcVh3OGsw8%2Frouq6v2d%2FX39E7Ujxkc9HhUelx8KPddU71Nc3qDeUNsKNksax43HHb%2F3g9UN7E6vpUDOjufgEOCE58eLH%2BB%2Fvngw82XmKfarpJ%2F2f9rbQWopaodbc1om2pDZpe0x73%2BmA050dzh0tP5v%2FfPSM9pmas8pnS8%2BRzhWcmzmfd37yQsaF8YuJF4c6V3Q%2BurTk0p2usK7ey4GXr17xuXKp2737%2FFWXq2euOV07fZ19ve2G%2FY3WHruell%2Fsfmnpte9tvelws%2F2W462OvgV95%2Fpd%2By%2Fe9rp95Y7%2FnRsDiwb67i6%2Be%2F9e3D3pfd790QepD14%2FzHo4%2FWj9Y%2BzjoicKTyqeqj%2Bt%2FdX412apvfTsoNdgz7OIZ4%2BGuEMv%2F5X5r0%2FDBc%2BpzytGtEbqR61Hz4z5jN16sfTF8MuMl9Pjhb8p%2Frb3ldGrn353%2B71nYsnE8GvR65k%2FSt6ovjn61vZt52To5NN3ae%2Bmp4req74%2F9oH9oftj9MeR6exP%2BE%2BVn40%2Fd3wJ%2FPJ4Jm1m5t%2F3hPP7MjpZfgAAAAlwSFlzAAALEwAACxMBAJqcGAAABCNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iCiAgICAgICAgICAgIHhtbG5zOmV4aWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20vZXhpZi8xLjAvIgogICAgICAgICAgICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgICAgICAgICAgIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyI%2BCiAgICAgICAgIDx0aWZmOlJlc29sdXRpb25Vbml0PjE8L3RpZmY6UmVzb2x1dGlvblVuaXQ%2BCiAgICAgICAgIDx0aWZmOkNvbXByZXNzaW9uPjU8L3RpZmY6Q29tcHJlc3Npb24%2BCiAgICAgICAgIDx0aWZmOlhSZXNvbHV0aW9uPjcyPC90aWZmOlhSZXNvbHV0aW9uPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICAgICA8dGlmZjpZUmVzb2x1dGlvbj43MjwvdGlmZjpZUmVzb2x1dGlvbj4KICAgICAgICAgPGV4aWY6UGl4ZWxYRGltZW5zaW9uPjQ0MDwvZXhpZjpQaXhlbFhEaW1lbnNpb24%2BCiAgICAgICAgIDxleGlmOkNvbG9yU3BhY2U%2BMTwvZXhpZjpDb2xvclNwYWNlPgogICAgICAgICA8ZXhpZjpQaXhlbFlEaW1lbnNpb24%2BOTY8L2V4aWY6UGl4ZWxZRGltZW5zaW9uPgogICAgICAgICA8ZGM6c3ViamVjdD4KICAgICAgICAgICAgPHJkZjpCYWcvPgogICAgICAgICA8L2RjOnN1YmplY3Q%2BCiAgICAgICAgIDx4bXA6TW9kaWZ5RGF0ZT4yMDEzLTExLTE2VDIzOjExOjg2PC94bXA6TW9kaWZ5RGF0ZT4KICAgICAgICAgPHhtcDpDcmVhdG9yVG9vbD5QaXhlbG1hdG9yIDMuMDwveG1wOkNyZWF0b3JUb29sPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KxzfR0gAAM8VJREFUeAHtfQecHMWx%2Fmzeu93Ld5KQTuEUsARIIkggcpJNtAkGkTEGnnG2sQl%2Bz%2B8PApwTyDYGbEwQYDIGTDAggkFkLEAIJCOhLBQu34bbPP%2Fv29tZzc7OzO7enWTwq%2Fpd3UxXV3dXfzvT1d3T06MoQoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCAgCAgCgoAgIAgIAoKAICAICAKCgCDwCUXAsTPtUlV1DMqbBB4HbgJXg%2BPgXvBG8GrweofDQdkOI9jhQeYjwC3gBrAXnAB3g9vBW2BDGscdSrCjFgVMAE8EjwTXgV3gKHgzeC14NWzpwHGHEewIIHP%2BLrRjNDgIJoXBW8EfgWlHH46fDFLVyq9dh0PdEcbfN3%2B%2Bd9ZDD7V5%2B8OTXcn4uP6ausm9TY3TRq9d%2FabqdK2L%2Bzzr%2B1qa%2FjX9H29sUhyOzKBsqLS%2BWXR2TH2z9quqc%2FncuQ3uri0jPclYfVbm9MZC9cH25Ucct3Xe%2FPm8n4QEgX8rAraNBBo%2BOoHdwYvRuCUHYynymIJ0p4CPB08FN4KtiA37GvBz4AfAL6HcYWmUco34kcjzGPABYDpZOhgnWCM6NTrbdeDXwQ%2BDX4QN%2FTgOC%2BXsOBqZnQzeHzwW7AZb0RZEvAWmLX%2BDLdusFCuRww4f9I8C045DwHZ2EJdN4MXgh8B%2Fhx0RHIeFYAsd60%2FB%2Bt%2FCNO9UV6fSc8icgLOzs6SuPgNc6ImM09mZ9ng%2B6K8JvPzGKee8NaRGGA38mpm7zw52tp%2FuSSTmOlPJST5VrXJnBvwX6qQ4UaiqOJSE06kkXc7ejNv9QcLrf6xn1Ih7dn1zKa7z8q7tddMmzm3asuWSuI8%2FWWlyKY40frBQxuXanPJ4P4zV1i35cOY%2By466446h%2FWZwsh%2FNmLZHMNR3ij8SPsKRzkxW1EwjemTsICooM41KhzNO94a01%2FNyqL7p3gnLVvyjUqeOG74uEXQdk0mlX62KZe%2FF0pUWDUGgUgRwk%2F43mPQq%2BCJwc7l5QHcK%2BGZwL3gwlEGiZ8CHl1ummR7SB8DfAS8DD4beRSLWvbzWxcwIyJDeA74APFg7kFRdB%2BZvQsc8KEJaB%2FgM8BLwYIl1OA%2FM0eaQCfn8tmxDImE1MXmcmqrxqqna8jld61Mz0CdHGqrVvhH173zc1voVjr4qrcCaGbvt1zWq4dG%2BhuqUWudTE8gzCnvCKMOKGU89lt%2FXFOjpGN3y%2B%2FcOmc1ORUminSxnMPVlvWFnpq8puLx9TMu1H02fOh0XI1xvZURb20c334y8olqd%2B4kl8tcz6xnP1ZM494xqfDxbZoni4NQcMZ8yJVLrvSZc413LMnheItmwRodqvI%2BEa%2FAbZtnLTqXQfyoCaHDoGD40NDwbEGav35agQ4ew1ZB2sMEkEl4LrrIt1CQSaQ4HD6UhR%2FI8vYyzfU2KKSlCOjr7p%2FI5Df2EdZpTsmCDAtKMAT809OLzOTyBM47QB01IPxHcnc%2BxxEmioz3TO2lsJhxwWzoTKyejydkg09mk6vxq18iG5z%2BcPZ0jyJJEZ7h1wuirIvVV0ayjtHFoWllmRzoBlY6nuWbDxxNbzyrlcLZMHHs%2BHZVZXuXIWF86HToNOqjOMc03lutcCcraGdP27m2uWUmbSzlyvT0sN%2BvQG6s7Nk6ZeJwdwCmXckJ%2FfVWM%2BnSc5KyjG5i2t0s6bHHi4IYNyk9MRnbTPLwgjY0XpxdXW1mPtomjlN8i%2FkYwpzeHgzh9913wg8ib5ZdF0P06FJ8A71VWgtJKnNbkiPLc0qrbNaDPEehz4M9tlw75jHV6Enl%2FsdycoLsPdJ8Hn1RumjL0ON27CHkfWIaulcq3EDHwDMdKY5jlGC3ggatDiWEasb4%2FctjINWufWrnX7rvZFfPWqXPrjrzpt3e3dHVcgQnAqijSM5%2FBUMbhUDhX6EvEWxu6Ou%2Fc2jZmPpyc3b04mGLyaWhnEvZGcOJOpaoaQ6GLxr2%2F4sVSTocZ0Pk3bNr4YCARn0ybabuRKHECSyNRQpz8qVRTXcfmuznyNepo4aRHeSejOOIxJEojDbnK4Rif9ro%2Br%2BnIURCoFAHTmwoNFuVfNcnsfjx7WWkix%2F2ZTUPnxgZrRxAb07tRDhdE2BJ0LoPC9WC%2FrWLlkZwavAX5X1ROUugdAj0%2BS2wtR79CHTqFhSijnBH1ntB9GGzssFRYpKn6OOYNOwYzohyPtBV1GEwt0AldcDtGNmt8tSRsgIOJxOSWjRvvXX7kkVz4VERPnXNOYPJLS%2F7SGI2cTH2zRl5LxLI9YG%2FuaFc2nY6Kp2VN3V1XbBs36upSIzmtjKEcNedalYxPaGrf%2FCBHh5hAL%2FZaLARTmU0bNv2kNpmYEIOtRmI9fXjQmHa5Eim3u9%2BFZ42st5HYmahKp2vqtmy6gVga4xnms7ZMOn2vX1dMGnmFa%2FzfQo4eszT%2F12WhoPtwzGTMJff6lMn%2F1%2FEwq7%2Bpg4Mip%2BIONiTAM2TlTwaZPng5AmZOUa%2BjnffhhI7yTfDb4I3g4jsDQgNxFPRTg6wgiIb2bAh%2BViC0DnQg6n0w7eCxC1yK%2BNzpOpRznJ0i4tl43wEuZ9RJbNeDiQVtITbEqBRxFeptKGuilSLiOJK%2BE1yOk01BT2%2FHGoRj4FLEZ7P35upcSlcf%2Fw0EysFHn8byHIsq1KTb3WnktNsV8lg0vsyMK4jqErE9WpYvvarIyaDjtvezTy6o648cyxGQGbFN5vw5G3iWHfH5V4T9VW%2FHvL5VLJtOwKzhZ150OAksTKkL9f1wy6RxX6asEqID9SMPPdOWatxOLFPnLwqypdNRMmlfTXfnHzdNGjevIDIX4IISTzx2Ur%2FJ6Ix5xz3eFZ2NLRe0t46b1TF28l5dzSNP7Pf5F7O%2BRqKDrI3H95rxynNccGZKvnT8JuiltNTsAPiTqVmxGn%2FFnSfTAv7DhA7F%2BZjidD1Ddrm9F%2F6HVW9YquO2yIVgGeNehOxVM300bLwArzCLM8gWIXwL%2BBUwl%2BLHkdaJc45GdgWfCf4S2G4RxdeR5q9I%2Bzz0CgjyaRAsAGv3SEG8LvAIzmnHG%2BBO5MXnfOwl0hmwLheAOWK0Io4Mb0SaOUi7yagEOZ3g78HjjHGG8EaEbwXTHjq1MJjNqBc8Bnw4mKPF2WArGoWIn6PMebCFaY10LQS7G4WG8BaE%2FwQ22kEHOglMZ87Oi119GLcAdpwMOzI4tyXosX5ftlCK5eTEuSziyCmNJfnrd596SCblKXjNpCoZClZ39%2B4dDPV%2BLxCP7x%2FPFMPUD5m3P3L%2Byr33%2BAOGuR9ohX48aewZtdHIBdHiJFkVjmJSLne6x%2B9%2FJBaoXdg1umVJdpn8lVemnjr33Kq2Fe%2BMrO3sOcwf6buwKp7YP5NJZ6fftPx5pJNzQF7d2%2FUbTJW%2BNuXt9%2FPl6%2FWM5yw75vOt6qmtm18QpyoBTzoxyRVP7utOxA8IpNNeAmqsAqcBXemUq6an6yYsBPlg0nsr3tPnEwj1HhlMp7xRw7Qkse73%2BNYC689Nf%2FHNDbo0%2F8IIbdF%2BTz%2F6THV%2F%2F%2F5ZJ6qLxOomxRuJnoFOxEKsrDSao3iiypJEg%2BtZfzp1FB0iFXBTOqNq5ms4fUmXlZwKAoNDAA3PeLDZQ3%2FTXh50%2BdztBbAdtSPybHApx4NrX90TXGphCMujE8kTwujMqn8D29FmRJb13Ap6tJd229HNeQN0J0gwzy5RLu4uHNnI2xJ0qsBXg7mq1IrSiDjEmBFkR4Ht0jE%2FLjoZb0xrDENnFPg2cCkqF98f22REbFabxVstMuGihN6mmjVWU2CsD%2BM6d2l8kKsR9YshtHMuwtg2duSPtLpzypJ5coGGpqM%2FcqEKF4pkn2UNdNS0pEVHLlDZNrH1O1ygkl1AYbJohAssaB9uAnb68mS1yITl97bUvgR98%2FsK%2BXCBSOeoxnuwgGNg4YZJuVzAwsU2xhWlXIxCm%2FR15jll7eNG%2FDxvoOFk4%2BRxp8RRnjEd693XGNxsNRXMbLjYhPXS0nJRCzHjCktDMcMe%2FLQtMgkHvZH8qs%2BA92fDDsh%2FQIYFN1KuPhxFcUSlp5UIPK4X6M45bXioLmw83QbBiejV32kxwijQh847EPDBMsu0Ik6fcqSlJ9pwrF5gOOco5Xjk%2F6BBbhqkvYg4EcxpTCs6C43wnvpIhH0IX6KXmZz%2FDrKzUcYmk7gCEXT6wVdAmG94CxQGAvwdOd2XJ9jBDgCnjc0bvwHN23E4DfmvGwha%2F4cO8fsy%2BDprrWzM5TkMLNUQz1HnhRYKnJr9A7igA2OhW5GY74FtbJv6tajXt5GjECNhGK94o%2BHPwr7sfdG46v3zavCsilNlRuIUHUcxW8eOO6p15erHS73rxXfuRqzeuKCneeQZGaer3%2BzZXD%2FK8cdiJ6ydPtl4bRuLz4dVp4M4FRtIDYykJyxdvqRpc%2BeZ3Q1NF2EqK25Wb07R1sT7Dzto4c2nMtkAwWmmM%2FVWk5x4142DQlOKNtQtiWOEFoBVnCrVmNOoLjUzii%2BHmyaE0JVWnolh6pOjUxJHt9Vqpirt856bFcg%2FQaACBAocHG7sANKyETPSrWjgIkZhLnyBhZxiPlv6OtK%2BbKNTFAV9NvxcrML0ZkS7jXP5X4esoD66hHy2dCHy%2FadOVvI0Z%2Fe3oWg15cYpNE4h6omrLWfpBYbzpxH%2BPvIubmENiobgNQhzateKjsDvN0IXuQ%2FOi0Z1uvg3cf412JHUyWxPczZfBiXWwYpYd2JgR19BpN5Wve5fEVgC5jTtsNPMV17ZFvf5H2AvxEi82OB4Ji098MBmjmY80eiFvHCMROeUhJPqHjX6%2FHKnE7U8xqxa%2B0h3Y%2BP%2FelzFlyoviCpMGQa6es%2FHhKK509IyquQIRzd6zcY%2F9tQ3XgwnZ%2BoNVTwHrI6EvqE5d3hHFS%2FGh83WihITX6j3aOOITzNpzdQ9t4brG7%2B6taHx4m2NTXlmuLeu%2FjvRqjrLTiMqHXUmkzd5tMxw5GpX%2FJ0DfOp0YjkVBEoi4DZofAHhKQZZF8ILDbJsEDcDp9gON4vLyR5Fo1jWiMkkDzaii8GHmsRRdCjK97CBztkx10KP4vugZzUCtUnGTrCDKzdPg9IJForHI%2F6H0CNOpJPAVo1TFHGX0mYqVkJMg3IWII2V82hG3GywVk92AKxGQWyjLkGe7LxXRDk7LkWig8B8Rmck1n0e%2BHljBMOoAx0bn6mYEUcFHCEWt%2F5m2oOUJX2%2BtzJhFIFWU09Yps4HVTV8Zjf7ofvafKnUVLPRG1f6dQcCC7FLxwu4QPRZlHX%2Byrn%2F9fvP3XDtKWbPqfjwEK8PHPXWqZ%2BtnXV%2FdledsvIsR2mXNRtv6tyl6dD6aOQ04w%2FPenoSyX3XYncW5PU688t43MvN8uWztepkct8j%2FvS7P2O68bvTnn22U6%2BX2zHlj3pZwfnajwuCxkCgL35XqLH6fz14vWD7KwPKwCsDifSdRv2dEd4WUEb5Fc8xuP4n4PZuwoWyFeW%2BHwknnsJ0RKRSG8IBZWRmIL%2BJyK8B6TFjlV6aCaeWwotrbUlBtkCtutqf3dJPk%2BcvPtXhqO%2FxK21aBI%2FdMWUzBJYj7VDQu4dDdRyJXl0r7kuPAzPaqiP9dk049SKSZ28OY5lvx5QNh2MmWV%2FOJ%2Fk87%2BBQQTYqxtEIbadz4IjKjDhKqDeLgIyjnlLTWRZJ8ZNjhANib353C6Ug5OzRsTd4INjKDv4YnBIcCtGxfB5MjIzUCsFM8POwlx1PK4fMdE%2BgXkt5Mkh6DulwI2T3zzTLYjKFsIN2HsZzC3oJcvKgiHVAGY8hMR2ZGR2MeB%2F0ChZ75BQvwBFtgik9iTTvIO2wraw0KwUjk3h2fFTo3zTVbKcg0N15ZDUWfhhbLrYo%2FRi99TQ2X4%2BL1DwHLSeLI6cr8YL39VzwohgWvLBBR8Pe2rJsNR3NIossBifGSK5n%2BtQfezauP8mFhSd643lezdEj6o3TrIML19Y%2FXdXXl8C7c15OFeqJTq4%2BHDnb8%2B4bc7ZM2OX69nGtD2KvzY2DxUSfN0pq7%2FAH7gmGe7%2FBHiGJrwxE%2BcpAZ%2BRexFfcQRzIpfL%2FmC9vcgS9v0WZp6JuuoHlAB7BoLe%2Fz6HemA4lr4aX6ilVAp0QVjz%2BAnonOx0OQ3viUlw1LiWkqvc51MS3g5HsPrD5LGuC3mNxf9yfF%2BhO8PNc5Pb4CtrvFlf6s0okVXQN9QbcRzsdzl8gr%2Bn4GUFY5MTfN%2FuH8mucH%2BJ6uLw2lHg4WOM9yqk4HtKK2kuJT4TLXKOFP%2BlHPcD7wtiDDAanEL7ZINMHOR1lRR8hInujWCmUIb8ROnRwZkxbe3N52NnxAXQqmprM5ak%2FvIYA62NFbIxII8ATeGJB%2BQvFIt5WjIuQznwO2AwPym7NZdCM46TcudnhEeTFNm0oZDcyb0PGRU4Mjot2cSrZjDhDOOgOkVmGVjJPMtHmyu0ZqdfhKj9MyUX7PTVhVyq5j8H3ZFX5bCjp874zaeny9%2FVpKz1vHzXumX7sjWn2TMwHx%2BqPRtlpGnai3Smv7xXtGZe%2BANbenUzMQQ8JTR0uoKXLlyXgaKpMlv0znlOHfrwA3tLVde34Ze%2B%2F3Tm66QHuzGK3iITpyqGmjvab4nhmmDUECehQ%2BcoA1nZbzWCUk21FOr0%2B3xRnje%2BfuFfOLHRuumwcjiqn4rzYE%2FQtCwe8M3QxRad4X%2B1Il8f7LvI7Bfnp294CXcTPU53e5b0Bz7kFEUMMzEcHPRT0Xe9yutiRnG6VHdzdrnBqf8UI70ornU%2BLXA%2FyV2F0tveqM54jhiW6sPHUrhF9GyCa9eCNeViGmR68zYa1ntw0y0zwbhnSa3o2atZRSM8ZnbetNbKvODB6DLjGQi8G%2BTsWcWWLYUuXDR5coEEaDbYa0dKxDbXjwTKIB%2BtkRpy6bDWJON9CTtUXwYt5skMJo1tfrP8k9tyM5EJrmnG5t26ZNCmC3UraOGowEqc8Ui7vEjRQnKEYNM18%2BeUO1eVebrzhtAxdyTQ7CcNPsDvl9b6cn7rRlZBCfZ3pTNt9V101MFJBJ2hT25RLQ76qdwM6Pf0ppzZ5c3A6sT4SORk7vdw55t033uFem1zBqTlLfZpyzh0J5b2MmnmSD7k1glHOsN9bMErR4ob7CN%2Ftc3nU%2B5Dv%2BGzeqgp4VMwusMOv3oHO2gpOleTLdShjMG%2FyEpyCaVvUU%2B3ZW3E4H4fzyLcPSL0YI%2Fifq0rmImR1DfL9G%2FLMXlfQa3A5HLfiZe5DtDLwVLQbOv%2FMc06X8chra16e00lnCr%2F%2BcUmN9xYM1Ao6mHi6iRXz3I0oO8v1dxzzz0fRzsyHgzhJK%2F%2FTeMxe5wB3Iow%2FwVABAn09Krn9RzQoIIhRuSWts4wZ%2FgiODKxotVVEhXK7%2BozM5UU80EyaEp1Pu2nM8AtpB65NUwpButk0pjJhJ9Q5JVM0Ustlg%2BcU2wnXGKcdv7FdUnT2a1xr2Zu7KGYYBZvbWi%2Fi%2B2gcERiJrXrI533tqIUL%2B3ubaxs4pDSjtMe1xkxekQxDxeQYz9qaeOyghCEhR1J4Lw7XNEdStvefIWV5wbTXvTLDAQRaMz0RfKeaqZ%2F4%2FuIqnGbN4qIcbNd1srp23e21ifhBHLVxGtVIlNHRccrVgy3Igon4N6qi4fPxzO9RTosa37EzpjcLV%2FfGr4%2FX%2Br6A0py0FC%2FNKk6360ScT4NsuVma4ZLhWtxDywtO4FHVkbigNrS98Wccphsnuj3ev%2BA32o9h%2FGq10H0QF8febbrO3%2FN4p9jlclDPRz06EUwgnFcXjT%2FOsJ56qz2zsV%2FA7Sh%2FGkd5WHd62zYlNQNTQ%2BFgJPUsdGdp%2BnxNAOfsTOIqUW8LhhM%2F0OKMx74az4XQ%2BlJerqr9sPXimnDyprwsdwInfToqcyPqU4c05xjjP01hrRE8BUYbe%2FzbIHuhRGV0c9JFmla9%2ByLFoQjQcLIO2QvHIp%2FhssMuH62jadYx1sxig7HDG%2FBcYV6tUJMjbTAbwJio2oqYh7Ft1icwXhu8UcbpFXTnb%2BL8aV140Kd0TkWJMeXGvSS3jh91aW1P16%2FT%2FJiMCWFlpBKrrrsHIxi73xFL111Rk%2BQViviM2WaGA4%2FiTAaQFZZhrp5RnDHLNZoZ1R3oUgvqv%2Bub761%2B7egTjt7W0HQ1d2rh8n%2BzqVWtNDo7bmnGPTsbouHTRm1Yv%2FjjCaO%2FjZZda2801VLHJQm3q9uZA0J7ZQDvyB1RKuFwxeNHuromlDjB6NyYf31MWb0ilODzZjivAaJjagkUPgubHfCeDjQ%2Bk9WAMpzbuWbOjfF10eSb%2BG1OBlbaddxWFfReOpD74P5%2FDCeIBSQ%2F1lLDsfWhkzDbzLlRpyacuCeVTOwJ2IejI6wV%2B285ahfyEyj9SnC2N5CzpAXH%2FcFP5cJmB7tG3%2BgwzdIPWYYLii8y202FohcyLJSfWjDJTZsCtWv4iK2d4zHJdtAi7eYwy4A26H9nM51yZMxHc%2Bxm%2BvlrA79PLRTsRm%2FX4nfUMDTLq6SMgxFnJtXU0dp8uzK6qcCBO0Y31boTyb2r08kJyXQm%2B26VMUM%2F7uawz%2FvqK2ed%2B0w2zqGk2BqbuULs%2FmE3c2HM2iKsOpxqU4PVe2Ywx2wBp0VelYlxx9Q5zR4wIhusxotFGh0F%2BDH33MrIKzGauz2%2BdetFvmj%2FmVhJ2YrvwSkJYG9chMI0lPGGcGVStS09XQvax48c06KqP8DIBClKE74J9zlu1KyNtvl6RtTp7nPHo4%2BVTj10DVy3S58MJ662ywnDqWRvOPEtJxZjwIkNzFo4lO8hzQItHTA9H32CLOH3XgTn9qQWZ3bE4o4VeFZ2M9J8ayDecYCZXrmymqDnHPwUIzR9R8ZxRTASf18Lmx0bYsracEC9BL%2FVXWbxnxZZtkeFxmUZDDZeNHw88M0SFcG8ryVNtowZ%2FgjMTVvSrpYxlUUM9MDM03C0S6IdZm0i4%2Bho%2BYxuZxCnQosaqVzBdG6tw2DEaOTBaUczYgNGGzQ6GydTtIDhyBvtYYOs4iAbUzw%2FqmkIhc9uDIfO0zOfDXnxwja36DJriDkawYKG%2Fp6W5ku4wnEettlSXc52rVEyGuNMp6zqYlS1DHO2zeo5H98948dKOfFkmcEQIjCFiCm%2B4qx5w6ddzu5Z9z3DaWxT4miuZf22yzfN3HfP9uam83qrA09xo2W%2BzG015OSIjh2L%2Br6%2ByzZPbj3XNGODENY5YlWBgk4RX8%2Fghsw76yOoeAZ4%2BTzr%2BzlvMW7sLjiNn%2BYFDmWctuBkJWaXgDUHCjlSX9XO7I4o%2B618vEPdO38%2BiBO078frkq19IhL%2FvS5seRqMJP6CkaTdGgzLtJ%2BUiKyDyxlzI47GKbS56MXYrQz6wKYieyGtVQNok2xQUatsUu0LOwI28SWjcvXYy0ZxdS5uI458NmVGbD8OMovYATJ2PLbY5Hu4TVy5UayLNgNgTENHv57CHPbfNSrowr%2FDDWg34tSp2p%2ByyWZGnB7TM2Vmz42YW3aqDVOTffWN35%2Bw7KNXKENyFY32R2aV4zATLyLPsXrJOZu%2BjH8r950x3p1MTk0V%2Bxm4CjgEr295GdlUrEK7fcnk4SmTlHwFXHW6PuTBJLpAxHffdvlo0%2B1Nm7uO3TqhbVZHXcMP%2B31Vy7iptdn0JTsWGb5M3tM3v5xVlkmPZ19PPD5HG8ays8GNmLkhc4EhOzCQjqTKckY0IZ3JvKw3JeNUZzM80uebgFGQfqZjHkZnz5diLDC5WMsPI8PGjqrBd44xFZ61hfnhfnyjHKetlY1rceCe0ASfsqP%2BHl4M218D64fD%2FGEuBH8bbEbbexnFsaMgOhZ8Z3FUeRL8GHSuVr0X3qN8kbwPRzs7%2BNzns%2BChjBJYD9bHiv6Zi6BzY8OUnw4wJDgddfo9bLYa5RnUC4NI64PkVLD%2Bd9MrfYC83wB3QZedj1Z9pO78ZMT%2FGHp2U7s69cJTpGXH6KxCaUFoBULaqPZ0nFuNeNYg7u6ClDspwAaTF3cMI7fehqbvjl694U9oiHKl4y0kz%2Bg3seTkbKM5KbT%2BfAF8v3sXHoK4Rcb4csN129q%2FiE2Qq7APW0EShiIuVzpRU2N3TRekqSRwwF0LP%2BtKJmZq0376tPRriSo%2F2oEKRo54RIAfl9faB9jrc8HMl184rbqn%2B8e%2BVGKU5py0MhgOpJITatd%2BOBeyezW52THuc3wnoKhudlRIPtgWc7mf9fTZruo2y2pwMlVZj955b7mJE%2F3J9%2FGsDP5g4AfFC9QD7YWXi4XYtx0gRE%2FFGbkEFV4XLtXynrfN5z4Ujt%2B1hb22HL2nnZR3zGB2Tz8OKi%2FVJ0Ur31ACeO6UcQMM0zs42nka5D9CvNZg6W1%2FBwH21OlEzOhSpH0QadmJroiQjr%2FIb8GHWiTsgPyJXBxuyux0f7WFLu14nHW0iLcUIx1XlH3PUmGgIX%2Bd8cgf6upTOLWyeT%2FEfRGM625QdAxS3WGTklM6b%2BTiacfnLHR3h%2FwM8G0W8aXEx0Nhjo3SU8CCz0aJXb4naqJPZ88OipHYeRkU5W9jQ%2BrsO26IZFPjwc0edbmUXq%2Fvhd6Ru%2FygbekHr293bgMJIw0Ni8K9PQmzF6Kx270S7O6%2BBN3h55AuYyiqZPDdAw4Y4f%2FXe19PZAdKhRa7IYu73SvfOPm0ZcrS%2BSXzqkSBm01XP%2FXoNR7Yb3RwfL4VxlRjf03zM4ryscIPwFaHIqYdk2R11QbucWksO%2Fec7ha8HvBO48Z1T2s7kej1XCjHG4vx2rlXL9ef9%2FuV8Rm3%2B7gY7NTaZYIcCEWvA1olR5f6vIZwXlGrDmUMtLb3VtB6Ze1UU%2BjM5ltZGq92w%2FnFKrWrJ1b40ne56dHzUI8txKyieqGcSvXLNW2n6Omgz5b3KP6vBOsv7BEIsyf7G3ABsXFCI%2FYIhLmHoQXRDHAEdhX4MgYqpJOhf7BNmqdRflcufg2OdHJWDTqd9iXgn4Irpf9Fgr1sEi2CHXS2GnGkyDRmzpat2S%2BB2etIs05LUM4x5yz%2Bx0Y3ijg0TnmiHdeAzeyg0jXI80XYsZqBcglp2DP9FdjqwufN%2B1Auv9NwpDO1olORH522kTwQ1BuF5YT58U3oGUfI9GvZxX1Jt3djn9uzOFJX8%2FD4Dz6ydFBTlixb0TWq8ZVqfPGbn27RE8PBWOyoj9vGfHP0QCdMH21%2FjtHvmDHNPw%2FiI6LcXNlIXrSRvf6qB%2Fks0Bg3pDDK3XtMy4K6WGwvs3Kx7Qw%2FvbNo4rvvYooSu5R0tn%2Bpubf3soThfWQvFpVsHDHqMTj3E6ycO50f3oMr2IlEs52OyplJj9PCZseM13thtZqujeT8BTe2jmL6s64v8ayZ%2Fg6ROZTWHrwGhYuQ0%2B0lyVPl3qNAKaNuzoYzSbQNnHgZIDi4S7FK8c9aeEcf5%2BOxE1aKtKMc3rek6QOHcv87K9QvN9%2Bdo1fQSKGxY2%2F6VpOiz881sCZRyh8hZONqRZcg7X9bRZrJob8P5HwQWmCfQXehFobd7C1x9GlHVyPfC%2BwUjHHQ%2Fw5kPzDKdWHerzfpwuzELUf4Mb3McM6b%2B37kPdEgtwxClw3%2B78D5uXQT5ecgW6XJc47rfi1scmyF7AHkPd4kzlQEXXZ27gHrO0BGXe6SsAy6vKvtRm9MNwc814QPhYwziGUTXQUWZqRDTSPm8eObBp6xZfKkPbAJ8G61W7v3bv64%2FZvjl69eZNVAZwvFyCxaU3M9vjFnagO%2F61bX0%2F0z7tyBxr7YU5mlgpPhl7trotHz2AswEp9dhdzu3p5RI24xxg0lzGdeHaNH3FofDV9gVi6NjwG7vubGnwET3kvYTNq9Cb%2BhksRzMz0nIAv0dE8u9SrFYN8VROF1KOIcvm%2BnEXvhrngM72XtvC26WLaz2neQZkPJo9t5iF4H98DrDF8bV1bDqfVqcc6Mw%2B7e0dQqPqqO7GyJaTqUn7WFkRhmznm%2F%2FNXcgFw90DTTT6sQF%2FUYcCfYSCda1QmKNxiVTcL8xpftj4t4D5jfYeN32%2BzoBUSy0c8Tw%2BCX7RIhjt9NuxbMhtqSEE8MyqnTw9AratwgmwGOgO2I3zvjd%2BMK6mE0CvFTwPxmmx2xXoebpJ0Gea9dQsR9CD4RXFQPfX6I57fl6LjsqB%2BR7Jygzc%2F%2Bjna6g4qz%2Bh5cBN8p62uoTuHDncPW4%2BSCDH5vjd9L075Ppj%2Fy%2B2YRlMlvo3HaUY9XwTmwXT1jxmf4XbZkvV%2Blrfp8tHN%2Bj27gO2uFv0UZ34MzdASRHs70vUNmj93cNvqbvc01K63qwLJZbsfoplv1jnrdtIlz%2BQ05zTbtSNtjtb509ht4BZUsDDA%2FszL5LTnuclKovT2U8rrO1qfTviEHd9e4XWvHnBV%2BD86n4oVn7sfmLVVaKKiMQNoe7dtsoRpfvqPJtMjn4Xxc0PvefPuOe7Y4rsLsrfYdS8YWX%2BwEFhEWqmzT5WvZmcVL3hdoejz21XjtOu35cpDufH06nhs3dM4rf0JPTBs1tDwcDX3VYPPTCB%2BNnsn2rlVOAfq8uV8Dt%2BVEVgeM%2BrPPzZ7EkSMdDv%2FZRd4FPAvM51MHgO2IndC5sONloxLsmAPZ8%2BBSvf%2F10OE0GnVXg6NgTuVxVMWL6VTwKLAdsS4HwA7Wo4hgyxUQXlUUUSx4E6K%2FgonfFnAcXAveFYzp8%2BwOM5gpsaW%2FwI6zzDRgB0fPPzGLM8j%2BgTDteAu8LRfXhOPe4BPAxMXQkEJSSD%2BBHT9EmRy9vQq2m9otTFlmKNnZofbvt7fi2rIZmzxsH13xQsb0ZLpr7Ph9zZ4PlZl9kdqaGbvt17Rh7fN4blVlthKTz644vRfxejfyMzyJqsALsSr%2FaofDm3AqyYA3HJrmjfcfjedOnw8kU3X9RSUMCDgNF%2Fb5V2ydMfsg4%2B78dHAtHdv%2BbEzLER%2BmXLfE%2FX5sAbX9A8B4%2BlnlUtPjsNpz1%2Bp0pimNaUXjgg%2FNDL7%2F14dyN0zZ41DuWqLJ%2BWL8rs%2B%2Fvoy7khjrzdcBYl7fqm1jx51g9rmgtbt%2F5vCWTRsedqRTtcbXMvzAiq8XcAWmVpZ2RMPi6W0KLOaXCrRnhHypPIo1AIG%2BxP%2FT9HbUkQ4OI5wv6PPHa9nX%2FTqc%2FP784hXmWbUN%2BMJRfdB7N6573iNZ4tZbNaEkZ7ayBCd1DC7VJ7QwVpN%2BuTaSvE0LG4%2BduP%2B9Qd8qQNXCONxP92Nac55RD46Ti8qmZXXQjj0Ziu8KJeP0vLIG7WFL0PcRhm%2Bjs3moajSdVo%2Bo60%2FmR3Ymee%2BO8d4LsKFZH5dKxifiBXdk%2BekgtgtFBED3hJANlN5RpBCeA0D%2FWZQAAqQ5HAdOzdFRlEMZKNFZsdHUl1Mq7ZWw4WorJdhxGeJ%2BbhVvIme9EmD21DgbUi7x%2B3KWc%2Bmwg438A%2BDjy80QesSDuDDt9tYbARviM9NDYAudYxHl7LgXEfkbsEipWKDZUe5vyRwWgb8AOziK483IMoeddraDYwU4Cmrs7v4dd0AxNthaBels%2BKNxNxRsoMpGhteUv0rFplh4%2F47bTFmlpcNIuFyhzjGjj86%2FqqBljKOVg6MKHSzfD9MTXzPgPpp8BcGqTOrTuUXhILtaxx5n1ingSKsp0veNCPIxEh1yDGljgcDvIg1Nz2KRX48zE2mq7g0f64%2BGv%2BlJJuuMjjHrkD2e3nW77zZ9%2BotvwjcUEvZPOTRe7XsO4GW35mLdVJer39XfP9Mfz64NKEwwzCEzB8ciYMY%2F0sn4BfVx5SN9kdhfch%2BX07EQ1%2Fxu2%2BXqP7G7yf7orSe3yxQHRlv%2FgLM4OCvjxhSq43K8bL1Ap5M95WgQt%2F9D0M1PDWLi6Uh8wua5Yl3vXSj7TE2O%2B%2B7H%2FwonrjKUnY3GiPAsvHl5p6aLSqUyDuXKzlDiN20D7U42iiPWcUHPf8HR%2FwrT1UXt8n%2BEg2NNAdbfcDA2zn8GoBdmkTD5hzRnQHwLuAgYE%2FXBiP6MRBfBBtwD5gQbeLvzwvmWucawSK%2BBDVeUygm2sPdDJ3doKd1Bxm9Eus%2FDlnfs0sMOTu%2FQDnZCdgS9hkxPgB3bUBanXDm6nm1REEcJBVM4JnpVkM0AFzn5f4eDw83gwLOzaxpCvT%2B02glFXwe9vzHxDXpV9KowCuPHU5tbzm1dtZ6%2FURHZObgi5TIFfDE75PGt7Roz9vTsKlKTdNi1ZOKojz56w2w1JNXpsLxwpnitgdVkp8iPVx%2BwT7L5fpUcjXUEa69r2dR%2BMdMbCSOSv1Q7HWdoI1XaGMkod2P0km%2FEjWmGM1zg4FT1XXQUQnA0B%2BXLUJVNcLlv4TrHvK4yyzi6gWxbKhXfj7uA5NPkTrhvpcvtw%2BKy7SMi3Csr0Fq9BZX3MC%2FG%2FtFnANHJcCy8%2FrOEEeQCbKn1XS2sPwKvU2CLYWoSj0YUxxbkx8XCmWAo3qalgZPFqmXDjkLcRFpRluEHXIG4yYB8BsofmJZF4cjrBn2aT5uDs5tyulEDRnfkqreJunDBKcC%2BG4LTwKajiQLlygPXIQm%2FQG3p3Jgl4nmz8Qb6JcPDTBxdcQRZ0rmxXOh14HAy2LThos4QCJ2t0s6N%2BcOOLhxOAe8IO55EvlnnhiPpOLCVc2M8P%2Fh6oB1D5yRwhMqfCMI1NWL9liu66uovc7hccTolO2KsxnZ6bMA5Cupu2eVUK%2Bdml34wcbTdhy18e6oDf9s6ccKRVs6NeXPXErwu8X1%2BBZzOzEgcodEZ4VUKB74ZV8Ujw8aRG9Oxrt0%2B%2F9sdU2f8iGEjqV5lOkZDp3KkS2IngS92ux3OG7KCnf0PW7XF03G%2Bt7osXzS%2BGIDrljMheFSz3VExHo7vX%2BlUfH8z58Z47lsJrUOhyE5plpDXVHyW5mzwz3F%2BNfgs3Kx55wb92%2BDcTDsDzACO%2F0HA9UI2s%2Fw%2FB%2FsRkwDgOMTp8qJ%2B%2FFvYDPunHL1sV3e4UeaeKPt0oD4L55pzwwSA%2Bm0sXnk2r%2FspPLFzcJxyettQpx6ExxtkBUEA9SgEh4AfK4gYfGA9kmIvNcfFYP2w3zJH6KXBnKr8Ejh%2FQVkmKC9iDdTmId%2Bry1Mf0II%2BnQsuHuX7YDq8oRIvztvBfA5pO3LTF7QD7OhD%2FleCT0LeHJXxvuHo7VKeWxCnUx%2B0iPtki7GqcuS6zb%2Fatssux3PJOhtsq62p7CrChptOhjt%2B9FUHn%2BhonXhY68rVj9ulGUocy6NzytqLMmP%2B6nfbG5vPbtzcdSIdWKm8d1m1cWFnY%2BP38RmhtJVj5wXJqVAejcTyA%2BAwyu0ZNf4M4%2FNFTT%2Fm89f7Iwl8Kw0PtSDkFBC%2BvP6aPxRbrOns7GNzv7IpFE7sx%2BdwaOx5vRcRXMW2jKL%2BsCOU2HPAiRWp5AVwSB%2F0h%2BOYzlR%2Fify68xGGE%2BSJxXLpw4KhxJcRZQarlkKNheN4ZqjehpuPI7FSpGL7rf%2FJpDMHoowXCxydLiXLzzgyR8C5Xq8TfypPef1ZEhqsixD5BzCnoG4BP4LGrKxGGmmZN3s73wYfDHaDKyE6tjvB3Mpp0CNC2DEeedC5nAVuBFdKbLxvB%2F9mKHawUNgyEQdOndLhjQJXQjEoPw9eADueqiShURd2TIGMdpwGxpx%2FRUSH%2FVfwdbBje%2B8WAuQ7D4d7wVZ0OdL8wipSk%2BdwojN0arL8MRpRkjN3U9zbCi8J5Kvwna3N4ybsY%2FY8KZ9%2BGE64AGPsG8surAqHL%2FSl01M9eGWArQufeWFj3WwJbJW0m4u74XOu1YO4KEZDSa%2Fn1UiwdsGYVevvR485k01g8%2B%2Fjttav7NLVfhNwsdEqjOJzuBQcGp4HJvAcaz0%2B0vpavKrmgWX7H7wo90J2YQLbkOrYOGXSscGezp%2FhMzh7YJ9E2%2Bd7rDfrzDm3fjjGfn%2FgLn5XTr%2BIxaw41M6DVuLIKHbjxxenj3GmEuf5wul7zHR3hAwXdp0nmDVbSYeVZL3uHThcbYHqat%2FheKA6Ab8sFl%2BpW8Ef%2FDqcWjzfYgGKnY3Poz2cFXQfjN9%2FCi4atAVqFzYj%2BFcynfoQo8B1dmnN4uAt691B90xs4d2oYpbY6UyHUqnUeqsRJfPorFJafU7voRlndscjlzOjrEWr%2FTYc8XKtDNyEvlHB7D66WdGvw0rH%2FEHUV8tvZx%2B1e9C0XNxQtYiYDn4VDUjJG9E0EwiRzz44cOrqQPBUcDPYD9YaMDbeYTAfPC8BPw1%2BDmWW5UyhW5Jgw3gonQg%2BFjwDPBJsVn%2FWk07tbTBHoXTqm3AcNoItdG5zc7wXjq1gYq11AmgD8egErwC%2FAP477FiK47AR7BiDzD6b45k4MhwEa3ZwOjgEbgcTj%2BfAtMP0BkR%2BX0D87mAzYl63lPObIh9icTaYI8ICSnZ1OTqPPNTj7Da9NDJbxky8o1RDWpDhEALcGWSPV1%2Ba6%2B8PH%2BNJpuYo%2BFoBpoBq4cyy1xUqjDabCxidXdi8eRW2wXolUlvzyIT3Vr1WjmPTTOOrD8G%2BnqO1cBnHTNrpDuGDqlu5onPVnrNX4zNC2PUqO31fRnJzFTr2MW8uP7M6EjrTmUrOxMZUNXTueFCjcAGO2419WLJOHGtEXK5NCa93Ubix%2Fk%2Bo76uVlh3zKVN8cWUTgIyaWyNSQaA0AmYNfOlUQ9DINV50cGzE6OTYmLMRZWPejQYwieMOJdjA8jmaGg1Gbyzba%2BPyfNpAJ7uunIYYekMm2MJGnDbQpmownT4dPqdEtsKOnfIsCnaww00bGsCaHWxciEkH7CA%2BQmYI4J2zp849t8rjUVvb3lpSj68EED%2B4uVQ84wx0xltaOqYtWtRdiVMzK%2BYTI0N9P9x3xoTqnsg0VyrWtmX8xGOT1dXTmjdsfKgq2rs0XuVf2TGt7f1Z9z%2BDa3hoTvUTU2cxRBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBAQBQUAQEAQEAUFAEBAEBAFBQBAQBASBEgj8f9jymNomuJIJAAAAAElFTkSuQmCC) no-repeat left center;
  height: 48px;
  width: 220px;
  background-size: 220px 48px; }

.navbar-toggle {
  border-color: white; }
  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: white; }
    .navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
      background-color: #380200; }
  .navbar-toggle .icon-bar {
    background-color: white; }

.headline {
  color: #fb0006;
  display: block;
  font-size: 40px;
  height: 340px; }

.headline.index {
  text-align: center; }
  .headline.index h1 {
    font-size: 72px;
    padding-top: 110px;
    padding-bottom: 18px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -mr-user-select: none;
    user-select: none;
    font-weight: normal;
    cursor: default; }

@media screen and (max-width: 400px) {
  .headline {
    height: 180px; }
    .headline.index h1 {
      padding-top: 30px; }
    .headline.blog-post h1 {
      font-size: 32px; } }
@media (max-width: 768px) {
  .headline.index h1 {
    font-size: 48px; } }
.horizontal-divider {
  background-color: #bbbbbb;
  box-shadow: 1px 1px 1px #ddd;
  display: block;
  height: 1px;
  margin: 0 auto;
  width: 50%; }

.enclosed-arrow-down {
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid white;
  height: 0;
  margin: 0 auto;
  width: 0;
  margin-top: -15px; }

.arrow-down {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #bbbbbb;
  height: 0;
  margin: 0 auto;
  width: 0; }

#content-wrapper {
  background-color: whitesmoke;
  margin: 0;
  padding: 0; }
  #content-wrapper img {
    max-width: 100%; }

.row {
  padding: 20px 0; }

.gravatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

#content-wrapper .info-row {
  padding: 0; }
  #content-wrapper .info-row ul {
    padding: 0;
    margin: 0; }
    #content-wrapper .info-row ul li {
      padding-top: 6px;
      font-size: 14px; }

a#pull-request {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD%2FgAIDAAAKQWlDQ1BJQ0MgUHJvZmlsZQAASA2dlndUU9kWh8%2B9N73QEiIgJfQaegkg0jtIFQRRiUmAUAKGhCZ2RAVGFBEpVmRUwAFHhyJjRRQLg4Ji1wnyEFDGwVFEReXdjGsJ7601896a%2FcdZ39nnt9fZZ%2B9917oAUPyCBMJ0WAGANKFYFO7rwVwSE8vE9wIYEAEOWAHA4WZmBEf4RALU%2FL09mZmoSMaz9u4ugGS72yy%2FUCZz1v9%2FkSI3QyQGAApF1TY8fiYX5QKUU7PFGTL%2FBMr0lSkyhjEyFqEJoqwi48SvbPan5iu7yZiXJuShGlnOGbw0noy7UN6aJeGjjAShXJgl4GejfAdlvVRJmgDl9yjT0%2FicTAAwFJlfzOcmoWyJMkUUGe6J8gIACJTEObxyDov5OWieAHimZ%2BSKBIlJYqYR15hp5ejIZvrxs1P5YjErlMNN4Yh4TM%2F0tAyOMBeAr2%2BWRQElWW2ZaJHtrRzt7VnW5mj5v9nfHn5T%2FT3IevtV8Sbsz55BjJ5Z32zsrC%2B9FgD2JFqbHbO%2BlVUAtG0GQOXhrE%2FvIADyBQC03pzzHoZsXpLE4gwnC4vs7GxzAZ9rLivoN%2Fufgm%2FKv4Y595nL7vtWO6YXP4EjSRUzZUXlpqemS0TMzAwOl89k%2FfcQ%2F%2BPAOWnNycMsnJ%2FAF%2FGF6FVR6JQJhIlou4U8gViQLmQKhH%2FV4X8YNicHGX6daxRodV8AfYU5ULhJB8hvPQBDIwMkbj96An3rWxAxCsi%2BvGitka9zjzJ6%2Fuf6Hwtcim7hTEEiU%2Bb2DI9kciWiLBmj34RswQISkAd0oAo0gS4wAixgDRyAM3AD3iAAhIBIEAOWAy5IAmlABLJBPtgACkEx2AF2g2pwANSBetAEToI2cAZcBFfADXALDIBHQAqGwUswAd6BaQiC8BAVokGqkBakD5lC1hAbWgh5Q0FQOBQDxUOJkBCSQPnQJqgYKoOqoUNQPfQjdBq6CF2D%2BqAH0CA0Bv0BfYQRmALTYQ3YALaA2bA7HAhHwsvgRHgVnAcXwNvhSrgWPg63whfhG%2FAALIVfwpMIQMgIA9FGWAgb8URCkFgkAREha5EipAKpRZqQDqQbuY1IkXHkAwaHoWGYGBbGGeOHWYzhYlZh1mJKMNWYY5hWTBfmNmYQM4H5gqVi1bGmWCesP3YJNhGbjS3EVmCPYFuwl7ED2GHsOxwOx8AZ4hxwfrgYXDJuNa4Etw%2FXjLuA68MN4SbxeLwq3hTvgg%2FBc%2FBifCG%2BCn8cfx7fjx%2FGvyeQCVoEa4IPIZYgJGwkVBAaCOcI%2FYQRwjRRgahPdCKGEHnEXGIpsY7YQbxJHCZOkxRJhiQXUiQpmbSBVElqIl0mPSa9IZPJOmRHchhZQF5PriSfIF8lD5I%2FUJQoJhRPShxFQtlOOUq5QHlAeUOlUg2obtRYqpi6nVpPvUR9Sn0vR5Mzl%2FOX48mtk6uRa5Xrl3slT5TXl3eXXy6fJ18hf0r%2Bpvy4AlHBQMFTgaOwVqFG4bTCPYVJRZqilWKIYppiiWKD4jXFUSW8koGStxJPqUDpsNIlpSEaQtOledK4tE20Otpl2jAdRzek%2B9OT6cX0H%2Bi99AllJWVb5SjlHOUa5bPKUgbCMGD4M1IZpYyTjLuMj%2FM05rnP48%2FbNq9pXv%2B8KZX5Km4qfJUilWaVAZWPqkxVb9UU1Z2qbapP1DBqJmphatlq%2B9Uuq43Pp893ns%2BdXzT%2F5PyH6rC6iXq4%2Bmr1w%2Bo96pMamhq%2BGhkaVRqXNMY1GZpumsma5ZrnNMe0aFoLtQRa5VrntV4wlZnuzFRmJbOLOaGtru2nLdE%2BpN2rPa1jqLNYZ6NOs84TXZIuWzdBt1y3U3dCT0svWC9fr1HvoT5Rn62fpL9Hv1t%2FysDQINpgi0GbwaihiqG%2FYZ5ho%2BFjI6qRq9Eqo1qjO8Y4Y7ZxivE%2B41smsImdSZJJjclNU9jU3lRgus%2B0zwxr5mgmNKs1u8eisNxZWaxG1qA5wzzIfKN5m%2FkrCz2LWIudFt0WXyztLFMt6ywfWSlZBVhttOqw%2BsPaxJprXWN9x4Zq42Ozzqbd5rWtqS3fdr%2FtfTuaXbDdFrtOu8%2F2DvYi%2Byb7MQc9h3iHvQ732HR2KLuEfdUR6%2BjhuM7xjOMHJ3snsdNJp9%2BdWc4pzg3OowsMF%2FAX1C0YctFx4bgccpEuZC6MX3hwodRV25XjWuv6zE3Xjed2xG3E3dg92f24%2BysPSw%2BRR4vHlKeT5xrPC16Il69XkVevt5L3Yu9q76c%2BOj6JPo0%2BE752vqt9L%2Fhh%2FQL9dvrd89fw5%2FrX%2B08EOASsCegKpARGBFYHPgsyCRIFdQTDwQHBu4IfL9JfJFzUFgJC%2FEN2hTwJNQxdFfpzGC4sNKwm7Hm4VXh%2BeHcELWJFREPEu0iPyNLIR4uNFksWd0bJR8VF1UdNRXtFl0VLl1gsWbPkRoxajCCmPRYfGxV7JHZyqffS3UuH4%2BziCuPuLjNclrPs2nK15anLz66QX8FZcSoeGx8d3xD%2FiRPCqeVMrvRfuXflBNeTu4f7kufGK%2BeN8V34ZfyRBJeEsoTRRJfEXYljSa5JFUnjAk9BteB1sl%2FygeSplJCUoykzqdGpzWmEtPi000IlYYqwK10zPSe9L8M0ozBDuspp1e5VE6JA0ZFMKHNZZruYjv5M9UiMJJslg1kLs2qy3mdHZZ%2FKUcwR5vTkmuRuyx3J88n7fjVmNXd1Z752%2Fob8wTXuaw6thdauXNu5Tnddwbrh9b7rj20gbUjZ8MtGy41lG99uit7UUaBRsL5gaLPv5sZCuUJR4b0tzlsObMVsFWzt3WazrWrblyJe0fViy%2BKK4k8l3JLr31l9V%2FndzPaE7b2l9qX7d%2BB2CHfc3em681iZYlle2dCu4F2t5czyovK3u1fsvlZhW3FgD2mPZI%2B0MqiyvUqvakfVp%2Bqk6oEaj5rmvep7t%2B2d2sfb17%2FfbX%2FTAY0DxQc%2BHhQcvH%2FI91BrrUFtxWHc4azDz%2Bui6rq%2FZ39ff0TtSPGRz0eFR6XHwo911TvU1zeoN5Q2wo2SxrHjccdv%2FeD1Q3sTq%2BlQM6O5%2BAQ4ITnx4sf4H%2B%2BeDDzZeYp9qukn%2FZ%2F2ttBailqh1tzWibakNml7THvf6YDTnR3OHS0%2Fm%2F989Iz2mZqzymdLz5HOFZybOZ93fvJCxoXxi4kXhzpXdD66tOTSna6wrt7LgZevXvG5cqnbvfv8VZerZ645XTt9nX297Yb9jdYeu56WX%2Bx%2Baem172296XCz%2FZbjrY6%2BBX3n%2Bl37L972un3ljv%2BdGwOLBvruLr57%2F17cPel93v3RB6kPXj%2FMejj9aP1j7OOiJwpPKp6qP6391fjXZqm99Oyg12DPs4hnj4a4Qy%2F%2FlfmvT8MFz6nPK0a0RupHrUfPjPmM3Xqx9MXwy4yX0%2BOFvyn%2BtveV0auffnf7vWdiycTwa9HrmT9K3qi%2BOfrW9m3nZOjk03dp76anit6rvj%2F2gf2h%2B2P0x5Hp7E%2F4T5WfjT93fAn88ngmbWbm3%2FeE8%2FsyOll%2BAAAACXBIWXMAAAsTAAALEwEAmpwYAAAEJmlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyIKICAgICAgICAgICAgeG1sbnM6ZXhpZj0iaHR0cDovL25zLmFkb2JlLmNvbS9leGlmLzEuMC8iCiAgICAgICAgICAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIj4KICAgICAgICAgPHRpZmY6UmVzb2x1dGlvblVuaXQ%2BMTwvdGlmZjpSZXNvbHV0aW9uVW5pdD4KICAgICAgICAgPHRpZmY6Q29tcHJlc3Npb24%2BNTwvdGlmZjpDb21wcmVzc2lvbj4KICAgICAgICAgPHRpZmY6WFJlc29sdXRpb24%2BNzI8L3RpZmY6WFJlc29sdXRpb24%2BCiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24%2BCiAgICAgICAgIDx0aWZmOllSZXNvbHV0aW9uPjcyPC90aWZmOllSZXNvbHV0aW9uPgogICAgICAgICA8ZXhpZjpQaXhlbFhEaW1lbnNpb24%2BMTAwPC9leGlmOlBpeGVsWERpbWVuc2lvbj4KICAgICAgICAgPGV4aWY6Q29sb3JTcGFjZT4xPC9leGlmOkNvbG9yU3BhY2U%2BCiAgICAgICAgIDxleGlmOlBpeGVsWURpbWVuc2lvbj4xMDA8L2V4aWY6UGl4ZWxZRGltZW5zaW9uPgogICAgICAgICA8ZGM6c3ViamVjdD4KICAgICAgICAgICAgPHJkZjpCYWcvPgogICAgICAgICA8L2RjOnN1YmplY3Q%2BCiAgICAgICAgIDx4bXA6TW9kaWZ5RGF0ZT4yMDEzLTEwLTI3VDE5OjEwOjE5PC94bXA6TW9kaWZ5RGF0ZT4KICAgICAgICAgPHhtcDpDcmVhdG9yVG9vbD5QaXhlbG1hdG9yIDIuMi4xPC94bXA6Q3JlYXRvclRvb2w%2BCiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY%2BCjwveDp4bXBtZXRhPgosgt7KAAAUV0lEQVR4Ae1ba7AcxXWemX3vvdLVC4GAIFu2Ali2gRCgMAhsg6DKTuzYMQkVsCVLYJce6FEJpQqSElKpVH6oDE6wCyMDBowxSTm2Q%2FwMdgK2Q2wwGMRbCBBCQYCRELr37u7dmZ3J93X39PTse%2B6sUlRlu%2FbeOdN9%2BvTpr8853T3TYx%2B46BRrmPpDwOmPbchFBIZgJbCDIVhDsBIgkIB1aFlDsBIgkIB1aFlDsBIgkIB1aFlDsBIgkIB1aFlDsBIgkIA1vWXZYWsgTDrMbn%2Ftn7N9%2FTBXytFNtyVC3tTXbGoJgS0UDoIAoky6q%2BRYra6c3QulHDaNZOgQy5Gl6f%2BnAQsgSZ0EWs20zJQagk3zdCJa%2B9JPLcmj1ehCQH5TaWuLPXLSgCVH1Q7HkygYtNRMNR%2Fmk0VkmbVinKqCuLTU0vKb5KgBsIVhi1pmDjLYRN9Wb6oQo9OARUFSD5NooskUJqGzvFEA6eohS5sra4UdVZUjeCXVKq01R1YFiLJIE21a7JSVJsDDOjqJHVx%2BENiOYzUaVn0q9OXpCae2GBtYn7S%2FaUhJA9Y0mktYBX3LZIOpmp0vOscttPyG9K6EUjR7utrpnpSqGU3r0j8BrbXimmiuDqSy2QAG5fvlDdsKH%2FpIMDFu2bHRbZXTSZptQ1uaFYxLOEQnxmYtzPtY22ZBKpqm7rBjMta0k6U9WBMxLo1Uwyuv31ZY9geBCzcMegpsLy0Srcs1EZX1pNIEeDWjxdpwMggMVsMLfJ%2FG4zjwI5hR4DfABgXlgLbVNCoNAgfeV68HnjeyflvxE3%2FGJhqNwHEQdszm%2FFCgmSnlaGmyCOALQheaNfql04BltAGAgAuMvDKBHtrFEn4oDqoVf3LCzuXtUpnBlQh2tH9VIJFy65bnKqQgHLUgX%2FTYRKtVls7RhKElSJ0NwpQU5%2BpwlwYsxiz6P%2FoAg%2FIbwCWz6MT8ecty7znVnnsU8v03XveeeKT%2Bs39v7H3BGZ2BDguL0xq3KAVRsCkg5brl9VuVTQW%2B5WTp1DBSQIZK7KaKPU0iOgGAcTQ5Zdwyc%2Fqh04Cl5GNqDxqe5XmlS1cVP73amTVbQKhK8%2Bd%2BuHjJ8urXbpj63j8HhaIDZgIcc0kJHvLpfW49cN2Rq7YUP3kZXMdu%2BMQICa5dq%2FqFIlyalbGeyBJBjhcECqFKjrAfsMTHBHcSL00oDfu%2FpAGLMQvdQWPoRnnVptLy1fAXxBpmoSdInms5tjNv%2FsjVf2uPzKjctcOCfbVNkU3Vy1dtLf7x5eQiUiIIwsMLJXvmLHvGGH0Z6LhTweSk79WdXN6C1zsZGRbbykYmakCGJATPdCCzU76%2BtzMZ%2F603Cxd%2BbPTa66kEZvp8QWgTqgQ0w8zxq1fV%2F%2Ft%2BZ8ZYc8dMpNZdU%2FzUZ1gZoACpMAVvHkRDNChpmJVJf%2F8%2B79kn3F%2Fe33jhWSJRHoExUXL7sMiICmEcX2Vioei%2Br2nBsty6PTpz5vV3ZBYtlqAElcnad%2B5CqIKP5H7vrMLHL7UBn8DLe%2BI341dfEXguIBZ%2Bo9SkI7suRJXX%2FiV8lrmMUxFSUXcEUtEtGMcP1%2B%2F7Ue2eu71nHsc0wqUZlvtt8BoAWJnN7zrGbDspDWjy519c%2FPil7F42F1SrE3%2BzqXb3zY39e%2F29z9d%2Fdq%2F%2F2v780gutXA79cuYvAF6NF3dxrgS%2FSOwEugekVm8u%2FskK5sVtSnChNgOToPFf%2FHgb2IVi9sQlhWUfw9h4jz8MsXY2BwkQqyqqi85oyo9zdb1LvSh1nOyJ72UT6LBl1b59Z%2F0%2FfwBQnLHZ9tgcRKupH367ds8%2FsZ%2BIXwhlJ72PWKCTrCMSijD3rdtS%2FNPPCjgC0%2FtCJngYVw%2Fil6HR4QcnxX9UbzTsUql85caR9VsBIy0XISyqOTAqLViYjuSSSs5Z3mMPMmbBWFyXKwAMZzbrPfor6it2KuhV0ywlXCbAAk3wYHJL2Dc5LfoeqsHlS59eY9W41pczjyELcjFA%2BMkGosEyeHqQacFi08KmVDtwAWRpFwBqwj1ZSiUDLFmltoZpWcC38tXrKrf8I9nQeZpeS0Im6mKNIn9NPBm6HuqULrsyu%2BRUQg85RqKziwRCaCchMzj6IGMS%2B%2BBvZsHs03h1H3PFhiZ%2FzodBYPfLVXsujwcGGMz8uReKatyrYAoTlhUNLNcfWGqWytXbbqjc%2BiVytsVLWhDWXPLXygOvhA7ZbP7iPwp8tOVHbYjmxT%2Bdp4morCeVZp1F4ein%2B%2BhDfIpSKOK28NFPec89XfuXO2hQsLBstvSZNfkPXszIggXnxGFv568BIs3MGFos68GJub%2F6tX%2BAVZZXrlV4Gdbhv%2FpK4%2FX9YKOobD5z%2FEJ7BGuFeBJb9%2FxZ51XnLwgOHcCDHT2NcEiUvRsNx2v3vEsLllUebTyzE7NeYdkfYkazcvmRjdtyv%2F8B7%2FFH0OHcqWfmzlpKJRDdc%2Fmpe%2F%2BtsWe3XR61MPJmEhMi1hPE69YvolOlz66L8AI6to3FQfXOm5yxWXQ37APmHV1auSG%2F9AJiZ3g9pDoLjsu%2B%2B%2BT6f%2F3ELpZFiNBGhEY1bTbfL50WLDnvVG%2F%2Fcm7Jac6xx1O5TAZrBS4XdIJ35AuN53fVvnkzV%2FbYETdFHHBGeJWrt9K%2BSivWEC8hkJIQqqaqQa1AsGwby9HJv9%2FszP5q9r2nRTwhapmFi6yfy8Cn0WHMEu0gJz5UlN5XShOzqAd2hfbIKPbJ43%2B9AXBwOgc0xAKOhhDlC0PIeE%2FtHL92ow8%2FKpbpdG11E3gxJJVKlZu%2FWL3tRnJBoJxAsErIF%2Bx8nr9czpkzz3%2FzQO1fv6l4tECBCJYsNDdB6xJBaJg0ES%2FvepcGLD51kBaBHYz39KPjW9Z4%2F%2FMyewuMoIwcZ8cBiOPXrPZfes4aGeV2RMxKWtkYEeLllMuVW66v3A689LIrwMAAaP4AH9ZWuZy353ksg9lBZKp%2BCq%2FkOosjYowKtUXYEo3HS1TF3pc0YBnSYSwjM%2FyDv7UOvC7GM9RcsPi%2FfS04dBC7Iu6Bw6S7oTVQOeiTcD0H8%2BPN11Vv%2F4qqAXT4jIEpDNV4JuHSPWWmvPA%2FW5cLNkMPWRUZmogq9ElpVfvkN9kwSrxVnURnMCFypmtJ%2BRw8iHYhbS1ebvQnLFD2lcFyl3jdQfuC94mpja0ZVWgtYbUjfk0T4JXOuFBf%2FMEi2oQJ%2BAiCFwM%2FWIx%2Bdu2bwAu7vKAYVHZ8wR4do1uxfmSbYf0mkdTlCKU0YEUqKX27DXLyPhAvj7viAvDa7syaa4%2FMZDSUrSSXF6k7XSqNGxptHiHVpX3BtX0fMylgihy5yZ4MXY4cORiw9ANudqHVvkIo5UpHdkZ3tgcBgLBxwYILUa%2FFi3VdyDRotmfcygYH8H8wYImgRW2Emh311LOY4hT6h0hqGdEnMrqIKIu9ns6R3NGt%2BcxHAGUUiWYG8W8wYLUN65F6HdGLWEyqL%2FZmpiMBjqkU6cGA1Sz17XgPdCWgzTD3r%2BxgwGoNU901gNbaEjShq7TmyCKzVlTfoLSEViLl2l0KHOjSoVVHmdPSe3NwTVqyt%2Ba0yY%2BYIqpT%2B4PKH4xl9Zh7jmx3WoaiHTaYImBcwgOmr82AwGqnX2ve9NVslRXlJJKqkdVEJKgnNRiwesSsULHw2lOrwTOEMSuVfQ0GrB5Lh8H33ZTY5xBoA9SEKaQvejABvkdT01evs%2BA%2BIQoFiOFknXAXATqxWoOxrISahz3ocO0kDflRUdTTiOogb2DZgwHL6EQ7zaIuxksR6npEuzh%2FX3ftsQvnQe7EQ7ovcSZTGrAiDHrErBb9Vc1aFY8TePoUyUCthV0pjPyoKGrc7A4FNd2HtzpfE2FJ39c0YEXPSzpq2EEPvrPIZLKnnY33N3jLD5pPDTnoHSq0ZkewtZa1yQnXWW%2BHZ%2FDhoLMLho00aS2DK%2F3AtvxarXT558uf%2Bwu%2FOokXEDyExCf0REvjoAkpJ2wkkioYFMAhM64xIYq7%2F2GIxDdTaSxLPYOHSK0JXxO0%2BqQoxj%2B5ggY%2FXtjbeAbtujg1OnLln%2BPcEh6KOvJtM5hCceFVKU0Jpv546Q%2BTDLENi8QV8vHqLJaobWhfKAixjfH0uEkDVlvRoc5mYRw%2BoSZON2dwNghcpRVry1dswhstPkSW%2FhjHxJSkaAiE%2F%2BJQxeREODa684Ko16xaxcqYvZM%2BrtXTRBvxnbJMcZ14OuUbMastS4iRg7Og%2BXy4wJHmQdV5cEFYUWn5mvLKjUGlIv2xR%2FzCLg8%2Bi0jHIycX4A2baByOLd7sCqCzp5yZWXRScPgtbV%2FABk2J1jSsbZXulpkGrLhcKIJXePwOwkhi%2FDLvXJxZ%2BC6cCuErZeE7tCB6kEjixR9e1pdXAa9Jvj3tbF%2FsM23KBxvOVJbXbKYIvD1EggLAIcD78EZ2ySkzrrst87tLgslxPpKWiSjhT9rUdCALBSl5iS5RzKIS6EN9yj%2F4RlyEGPBcrrR8LUwALx3gOPgEh7%2FxwzyrhYTgQqMQ%2Frhyg2%2FiFRqDlsku2g4gKF6ygicFkXggWlkob21xHNB1M8efMLp1uz13Pk%2F4AC9xCgkzrohc5CNzwpT2TKlujidEqpOZExblTj%2BbmcLiSYiBxQmh7HtODeouIOMhyqOOceYdUzhvmXP0sXQ68AAv286ddiZ8pf7QL3B%2BhPYlMilEJjggztdWJjLvWDy6%2Be%2FsYpHndrI5%2F5V9eBFb%2B9Yd9V%2F8FGDwKDDqunUHHy7Uau6DP1dnj7RKobyk18HtDfk1iuPu%2FDWjiXh5JWFSARhAnH42fjgljxwMq49PBPCSGTYpZz8YpnDA0sqr4GXV279k4ai2BFH3iW96LMjPn3%2BRjbNHMMxcnmdSrlnT2PUkTsPDN%2Bs%2F%2FX5p30vl5as54eJI4QUfqX33G8HhQxZfaEvXQ%2FZ0fBBapHJD3QsSeO1cLPFg%2Bs5HxG3Lq2PhazwDUyhYhYIDuxBGp4UoU7Ks8hUbyiuuosPyKK3hL3BA5BTL%2BNyFtcRkV731hsauJ5z5x%2BAwjzNrjl3MV%2B%2B80XvyMc4eVpA5bmHmHe%2B2MDki0bK0NE2wpM%2BUBqzYbIiJnOfdKxP1e%2B5m29AVKymdMKrQFXjxRKBYi6lxRrahN02JtUqr1jPMuR7GAI4pxYARqzMceLNnz6UQ28GREx5%2Fx4SIW56u8exC2apV3d%2BII79QAEec5x0tl7uQIt7SSrWnY1xpwNJICAKK%2BA1ndGb9%2Fh%2FXvvV1ZiFwhEdcFKscW6G1GGeVHbsg3guUy1dsLHz0En9yHIffDAYBul5w8nyp3CrJjsjVQYDTSGJIRD0wx5AxpRmC%2ByDTgGXOhqIpeCJ2xbls5abtte%2FKY2biCCggC%2B2IfFAdt%2BavWVGWNl56AU7N8Ke7CgIHU7Hcx9kmJM9zZs%2FJnf4BTKywR5yKYPgfP%2BTMnps7U5zNFH7qv%2FGqcFgp5e0xG1J7jJn6wKHh%2FvI%2B%2F%2BCB7DsX2zNmMjZJH1RuKJ1RHPGQPij%2FU4RYNDlZIMWwvfspZ2Qmz%2FKqJD6wmziMORTHVunROLZ68vu9Pbsbu5%2FBwgU44rzNyLotLOWSIoPwX%2FvGDro21ndsRQMfikxyHdjSQTUqQOHRF3wc8uiD7gP%2F4R86iAMwzpy5xAuomT%2FkwL7wHz%2BZsLyUSG1dh5OCztgcHvILC8EsVpiB%2F9or%2BaUX2TPH8EkQ4np%2B6TJnwe9kjj0hd8a55Ss35c8%2Bn2KRHKd25w4sHRyEOVqzMi7VVvJLmg%2Bdug4UFxIOXaY%2B5Ry1AJ%2BsYFbC8orfbgloEHTzZ5yDWYwdA4JIEqm9L45vWevv2WWPzVar1nivMGnyO7SLPzm6bTtLwk%2FOIi7p9dmc%2B9AD49vWIW5y8BRWwKur2pGUNlQasNhrNVptJDNLbM0CrKEBGT0AviBdEqNcr8%2FYfkv%2BnA9xikRwwaIpk23s3TO%2Bda3%2F4rOdkKJMYWlYmhYvX13%2B3CbVMgCCZGVQ3Eh5zz41ce0Gf%2F%2FLOEnOmZrmaZiXqpbsMoBFaZeRwlwORHF8Ep9W0gtE9KHatKaM8CmhrkTq5Zd6IsWqchlbKtfuusl%2FZW%2Fxss9nF5%2FEU79IFG1hLzV17%2FeqX78xOPi6RIq5TKZZddFaMrf5nwYszCyMAvzrlEKPU%2BXiVhiHCFWyc4jEOCUvkMJnlvhquK33mS1gn0egi6Wpn9zjPvxA9v1nZBefzNWW5zbwxebjD3u7n8bMaCIldg2QIfcLULyb1mZbJp0GLFNOf7RSkSsD4TJCYyC1b%2B%2FE1rWNF57pBym2RPfnYpUzQHWyft8P8VNuiAfWOCU%2FMgqLhvfF1ZoOQKaENGBxKTyNEaJRSX%2BBkyKs731x4q%2FWe8%2F3jVSoPvCGKWHbAB9XGwMUca7gYdTmTThtCsXKG4h3V5cIG4ld04A1nfaoL9Xk7gRbOf%2BtQ%2BNYJfTnfTHF5Q3NB6s2fucLQ6NYLDUwgLwjNkbS2mrCKOyPTAOWamE6jXPXXXSffMzd8YXGc0%2FiWUrPONWtOwIXIiVTM0xmVRmz6MVmbp%2F0AJYOScEiPyIO9nR4BFaZwJcBYqPbW2FURDJ7mahpgaGqIeK9Kal36%2BBIY1l9zIbtdKCOcB%2F4i%2BtySQE%2F6i%2B1dq41p7Mkpa2Il0nqGRLTgKXEyHAtDdugpR0YTcVIMfdjic%2BVV3fOWLWWG7UUEPmtcMgcLV%2BalbydDl5pwFLzC555QlfsU%2FHfoLtr09qxFhw6Z0jRotMKDpETGDrIuGVCKcWpdv%2FvZ0PZvAZFE8g36bad1gyaaMvWM1NW10K6EFJUK0PPJiKGNJYVWofwI%2BWGES2tPWopTkFpMoha3Tnj9Yw70W8pR37Kb%2BojQVF2F6%2BE5mSpkd0fmQYs3aQm0KamNdFJEc2giU6c3fN19U6Ezpdymm67C4%2BVpnlSGhP0%2F%2BFmCFaCUR6CNQQrAQIJWIeWNQQrAQIJWIeWNQQrAQIJWIeWNQQrAQIJWIeWNQQrAQIJWP8XSezfr0vdD2wAAAAASUVORK5CYII%3D) no-repeat left center;
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  float: right; }

.popover {
  border: 1px solid #fb0006;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.popover.top .arrow {
  border-top-color: #fb0006; }

.site_navigation .footer-index ul {
  padding-left: 0px; }
.site_navigation .footer-index li {
  list-style-type: none;
  padding-left: 8px; }
  .site_navigation .footer-index li a {
    display: block; }
  .site_navigation .footer-index li:hover {
    border-left: 2px solid #fb0006;
    padding-left: 6px; }

footer.page-footer {
  padding: 30px 0;
  background-color: #380200;
  color: white; }
  footer.page-footer .contributors {
    font-size: 24px; }
  footer.page-footer .sponsors {
    font-size: 20px;
    margin-bottom: 0px; }
  footer.page-footer h4 {
    text-transform: uppercase;
    color: #6f6f6f;
    font-size: 14px;
    margin-bottom: 0px; }
  footer.page-footer p {
    margin: 0 0 20px;
    font-size: 18px; }
  footer.page-footer article.minor p {
    margin: 0 0 14px;
    font-size: 14px; }
  footer.page-footer a:hover, footer.page-footer a:focus {
    color: white; }
footer.footer-links {
  background-color: #bc0004; }
  footer.footer-links ul {
    margin-left: -16px;
    padding-left: 0; }
  footer.footer-links li {
    border-right: 2px solid rgba(251, 0, 6, 0.5);
    list-style-type: none;
    font-size: 12px;
    padding-bottom: 6px; }
    footer.footer-links li:hover {
      border-right: 2px solid #fb0006; }
    footer.footer-links li a {
      color: white; }
  footer.footer-links .cocoapods-small-logo {
    display: block;
    position: absolute;
    top: 2px;
    left: -70px;
    margin-bottom: 12px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIBAMAAACnw650AAAABGdBTUEAALGPC%2FxhBQAAAAFzUkdCAK7OHOkAAAAYUExURfoqAf%2F%2F%2F%2FoiAP%2Ff2v2VgvtIJ%2FxuVP68sNqAAv0AAAGFSURBVEjH7VRNU4MwEGWo1PMbpFwzHYrXMljPSrW9Iq16Fmm9Smesf99sUmhI0h686IF3IVleNm8%2Fso7To8dfYszBzlNcr1p%2BLzbj9oiNs67B4e9duWcfucm5SCBxK1jeHKVBihsO8EW6LoGp4eit5cAvuCECRnoQMRTM%2BF8vQchOOwJCstwDRZfkCUU3m%2BdKLDJOehIfFdeC4%2FJkrmkVSFNXOR2TeuXFV0yo7ConAUKuDAs%2BLRL5OYKUlMq6kAdLPQG%2B6pUkr4CdSqIrGgHuKk3TTBoDpgUX6PmdyABaDGCrVN1VTqRPWzlLjbQzSFrO7Z606lk1OVofWKPT6xJBC%2Ffgfnoy4%2B8ymRRcZtQu69aR0pQbXTA6dgFyM%2BGOQ%2F2Ekmxj4lNUkRGLOB4WvDNfcYh0YOZXtHa42C7R9LhWFNEf%2BmsxG9Py7mJL5lRX4kXwIsyMQk3qlnRHHvj8yMypMmwmxp7JfV1Y5tNwLu56dJuZZp107KV62ObtgHN%2FPTN79PhH%2BAG7HkKuDBZUwQAAAABJRU5ErkJggg%3D%3D) no-repeat left center;
    height: 36px;
    width: 36px;
    background-size: 36px 36px; }

@media (max-width: 800px) {
  footer.footer-links .cocoapods-small-logo {
    position: static; } }
@media (max-width: 1000px) {
  footer.footer-links .cocoapods-small-logo {
    left: -40px; } }
@media (min-width: 1200px) {
  .hidden-lg-span {
    display: none; }

  .visible-lg-span {
    display: inline; } }
@media (max-width: 1200px) {
  .hidden-lg-span {
    display: inline; }

  .visible-lg-span {
    display: none; } }
