@font-face {
    font-family: 'gt_walsheim_regular';
    src: url('/assets/gt-walsheim-bold-web-1b556d7a1dae6ea82526af1837c1b939.eot');
    src: url('/assets/gt-walsheim-bold-web-1b556d7a1dae6ea82526af1837c1b939.eot?#iefix') format('embedded-opentype'),
         url('/assets/gt-walsheim-bold-web-faaab01f9a381583a5a1c38988037556.woff') format('woff'),
         url('/assets/gt-walsheim-bold-web-47308b45d2fa748be8b7ed5655aeedc9.ttf') format('truetype'),
         url('/assets/gt-walsheim-bold-web-d54e9eef21d87e44ee1124d0fc48001d.svg#gt_walsheim_bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gt_walsheim_bold_oblique';
    src: url('/assets/gt-walsheim-bold-oblique-web-4f21fa915b6d448b8f0cddc7081c4326.eot');
    src: url('/assets/gt-walsheim-bold-oblique-web-4f21fa915b6d448b8f0cddc7081c4326.eot?#iefix') format('embedded-opentype'),
         url('/assets/gt-walsheim-bold-oblique-web-2e325cbcf5fdc661d5682f72b98d65ad.woff') format('woff'),
         url('/assets/gt-walsheim-bold-oblique-web-d9e0d5819fbd2a595ade0c74d28a2b95.ttf') format('truetype'),
         url('/assets/gt-walsheim-bold-oblique-web-5d344a1cb9ba7480dc6978107b71f0a9.svg#gt_walsheim_bold_oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_walsheim_regular';
    src: url('/assets/gt-walsheim-web-15de8946f8f1a2ab886fcc8bb853a26e.eot');
    src: url('/assets/gt-walsheim-web-15de8946f8f1a2ab886fcc8bb853a26e.eot?#iefix') format('embedded-opentype'),
         url('/assets/gt-walsheim-web-a67ce717d4835e24a9418fd32cf50272.woff') format('woff'),
         url('/assets/gt-walsheim-web-94f95c3e2d99dc0e77e896f7f383d0c3.ttf') format('truetype'),
         url('/assets/gt-walsheim-web-175a679dd620063e593326d3a86294ad.svg#gt_walsheim_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gt_walsheim_regular_oblique';
    src: url('/assets/gt-walsheim-regular-oblique-web-70e3a8893b9b2fd165124331a40be704.eot');
    src: url('/assets/gt-walsheim-regular-oblique-web-70e3a8893b9b2fd165124331a40be704.eot?#iefix') format('embedded-opentype'),
         url('/assets/gt-walsheim-regular-oblique-web-2eb9b0158b1e1955587682524131feb9.woff') format('woff'),
         url('/assets/gt-walsheim-regular-oblique-web-397622b9faae0ee1b1720c915fc3274d.ttf') format('truetype'),
         url('/assets/gt-walsheim-regular-oblique-web-6e7032bb8df15cfb3fbabd60d52c782c.svg#gt_walsheim_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.highlight .hll {
  background-color: #ffffcc; }

.highlight {
  background: #ffffff;
  color: #000000;
  background-color: white; }

.highlight .c {
  color: #bcc8ba;
  background-color: white; }

/* Comment */
.highlight .err {
  color: #000000;
  background-color: white; }

/* Error */
.highlight .g {
  color: #000000;
  background-color: white; }

/* Generic */
.highlight .k {
  color: #af956f;
  background-color: white; }

/* Keyword */
.highlight .l {
  color: #000000;
  background-color: white; }

/* Literal */
.highlight .n {
  color: #000000;
  background-color: white; }

/* Name */
.highlight .o {
  color: #000000;
  background-color: white; }

/* Operator */
.highlight .x {
  color: #000000;
  background-color: white; }

/* Other */
.highlight .p {
  color: #000000;
  background-color: white; }

/* Punctuation */
.highlight .cm {
  color: #bcc8ba;
  background-color: white; }

/* Comment.Multiline */
.highlight .cp {
  color: #af956f;
  background-color: white; }

/* Comment.Preproc */
.highlight .c1 {
  color: #bcc8ba;
  background-color: white; }

/* Comment.Single */
.highlight .cs {
  color: #bcc8ba;
  background-color: white; }

/* Comment.Special */
.highlight .gd {
  color: #f25454;
  background-color: white; }

/* Generic.Deleted */
.highlight .ge {
  color: #000000;
  text-decoration: underline;
  background-color: white; }

/* Generic.Emph */
.highlight .gr {
  color: #000000;
  background-color: white; }

/* Generic.Error */
.highlight .gh {
  color: #000000;
  font-weight: bold;
  background-color: white; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  font-weight: bold;
  background-color: #a1e85d; }

/* Generic.Inserted */
.highlight .go {
  color: #bfbfbf;
  background-color: #f2f2f2; }

/* Generic.Output */
.highlight .gp {
  color: #000000;
  background-color: white; }

/* Generic.Prompt */
.highlight .gs {
  color: #000000;
  background-color: white; }

/* Generic.Strong */
.highlight .gu {
  color: #000000;
  font-weight: bold;
  background-color: white; }

/* Generic.Subheading */
.highlight .gt {
  color: #000000;
  background-color: #ff002a; }

/* Generic.Traceback */
.highlight .kc {
  color: #af956f;
  background-color: white; }

/* Keyword.Constant */
.highlight .kd {
  color: #af956f;
  background-color: white; }

/* Keyword.Declaration */
.highlight .kn {
  color: #af956f;
  background-color: white; }

/* Keyword.Namespace */
.highlight .kp {
  color: #af956f;
  background-color: white; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #af956f;
  background-color: white; }

/* Keyword.Reserved */
.highlight .kt {
  color: #000000;
  background-color: white; }

/* Keyword.Type */
.highlight .ld {
  color: #000000;
  background-color: white; }

/* Literal.Date */
.highlight .m {
  color: #46a609;
  background-color: white; }

/* Literal.Number */
.highlight .s {
  color: #5d90cd;
  background-color: white; }

/* Literal.String */
.highlight .na {
  color: #000000;
  background-color: white; }

/* Name.Attribute */
.highlight .nb {
  color: #000000;
  background-color: white; }

/* Name.Builtin */
.highlight .nc {
  color: #000000;
  background-color: white; }

/* Name.Class */
.highlight .no {
  color: #000000;
  background-color: white; }

/* Name.Constant */
.highlight .nd {
  color: #000000;
  background-color: white; }

/* Name.Decorator */
.highlight .ni {
  color: #000000;
  background-color: white; }

/* Name.Entity */
.highlight .ne {
  color: #000000;
  background-color: white; }

/* Name.Exception */
.highlight .nf {
  color: #000000;
  background-color: white; }

/* Name.Function */
.highlight .nl {
  color: #5d90cd;
  background-color: white; }

/* Name.Label */
.highlight .nn {
  color: #000000;
  background-color: white; }

/* Name.Namespace */
.highlight .nx {
  color: #000000;
  background-color: white; }

/* Name.Other */
.highlight .py {
  color: #000000;
  background-color: white; }

/* Name.Property */
.highlight .nt {
  color: #af956f;
  background-color: white; }

/* Name.Tag */
.highlight .nv {
  color: #c52727;
  background-color: white; }

/* Name.Variable */
.highlight .ow {
  color: #484848;
  background-color: white; }

/* Operator.Word */
.highlight .w {
  color: #000000;
  background-color: white; }

/* Text.Whitespace */
.highlight .mf {
  color: #46a609;
  background-color: white; }

/* Literal.Number.Float */
.highlight .mh {
  color: #46a609;
  background-color: white; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #46a609;
  background-color: white; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #46a609;
  background-color: white; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Char */
.highlight .sd {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Double */
.highlight .se {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Escape */
.highlight .sh {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Other */
.highlight .sr {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Single */
.highlight .ss {
  color: #5d90cd;
  background-color: white; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #000000;
  background-color: white; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #c52727;
  background-color: white; }

/* Name.Variable.Class */
.highlight .vg {
  color: #c52727;
  background-color: white; }

/* Name.Variable.Global */
.highlight .vi {
  color: #c52727;
  background-color: white; }

/* Name.Variable.Instance */
.highlight .il {
  color: #46a609;
  background-color: white; }

/* Literal.Number.Integer.Long */
body {
  font-family: "GT Walsheim", "gt_walsheim_regular", "Avant Garde Gothic ITCW01Dm", "Avant Garde", "Heletica Neue", "Arial"; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "GT Walsheim", "gt_walsheim_regular", "Avant Garde Gothic ITCW01Dm", "Avant Garde", "Heletica Neue", "Arial"; }

h1, h2, h3 {
  font-weight: bold; }

h5 {
  font-size: 22px; }

aside {
  margin-top: -20px; }

.code-break {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px; }

pre.highlight {
  border-left: 2px solid #fb0006;
  border-top: none;
  border-right: none;
  border-bottom: none;
  padding-left: 20px;
  margin-bottom: 0;
  border-radius: 0px; }

p {
  font-size: 18px;
  line-height: 1.4em;
  margin: 24px 0 32px; }

a {
  color: #fb0006; }
  a:hover, a:focus {
    color: #380200; }

.navbar {
  background-color: #380200;
  border: none;
  margin: 0;
  padding: 0; }

.navbar-nav > li > a {
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  height: 50px;
  letter-spacing: 1.2pt; }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: white;
    background-color: #380200;
    padding-bottom: 5px;
    border-bottom: 4px #fb0006 solid; }
  .navbar-nav > li > a:active {
    color: white; }
.navbar-nav > .active > a {
  border-top: 6px #380200 solid;
  padding-top: 8px;
  background-color: #fb0006;
  color: white;
  font-weight: bold;
  cursor: default; }
  .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    background-color: #fb0006;
    color: white; }

.navbar-brand {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAbgAAABgCAYAAABv0GdFAAAABGdBTUEAALGPC%2FxhBQAACkFpQ0NQSUNDIFByb2ZpbGUAAEgNnZZ3VFPZFofPvTe90BIiICX0GnoJINI7SBUEUYlJgFAChoQmdkQFRhQRKVZkVMABR4ciY0UUC4OCYtcJ8hBQxsFRREXl3YxrCe%2BtNfPemv3HWd%2FZ57fX2Wfvfde6AFD8ggTCdFgBgDShWBTu68FcEhPLxPcCGBABDlgBwOFmZgRH%2BEQC1Py9PZmZqEjGs%2FbuLoBku9ssv1Amc9b%2Ff5EiN0MkBgAKRdU2PH4mF%2BUClFOzxRky%2FwTK9JUpMoYxMhahCaKsIuPEr2z2p%2BYru8mYlybkoRpZzhm8NJ6Mu1DemiXho4wEoVyYJeBno3wHZb1USZoA5fco09P4nEwAMBSZX8znJqFsiTJFFBnuifICAAiUxDm8cg6L%2BTlongB4pmfkigSJSWKmEdeYaeXoyGb68bNT%2BWIxK5TDTeGIeEzP9LQMjjAXgK9vlkUBJVltmWiR7a0c7e1Z1uZo%2Bb%2FZ3x5%2BU%2F09yHr7VfEm7M%2BeQYyeWd9s7KwvvRYA9iRamx2zvpVVALRtBkDl4axP7yAA8gUAtN6c8x6GbF6SxOIMJwuL7OxscwGfay4r6Df7n4Jvyr%2BGOfeZy%2B77VjumFz%2BBI0kVM2VF5aanpktEzMwMDpfPZP33EP%2FjwDlpzcnDLJyfwBfxhehVUeiUCYSJaLuFPIFYkC5kCoR%2F1eF%2FGDYnBxl%2BnWsUaHVfAH2FOVC4SQfIbz0AQyMDJG4%2FegJ961sQMQrIvrxorZGvc48yev7n%2Bh8LXIpu4UxBIlPm9gyPZHIloiwZo9%2BEbMECEpAHdKAKNIEuMAIsYA0cgDNwA94gAISASBADlgMuSAJpQASyQT7YAApBMdgBdoNqcADUgXrQBE6CNnAGXARXwA1wCwyAR0AKhsFLMAHegWkIgvAQFaJBqpAWpA%2BZQtYQG1oIeUNBUDgUA8VDiZAQkkD50CaoGCqDqqFDUD30I3Qaughdg%2FqgB9AgNAb9AX2EEZgC02EN2AC2gNmwOxwIR8LL4ER4FZwHF8Db4Uq4Fj4Ot8IX4RvwACyFX8KTCEDICAPRRlgIG%2FFEQpBYJAERIWuRIqQCqUWakA6kG7mNSJFx5AMGh6FhmBgWxhnjh1mM4WJWYdZiSjDVmGOYVkwX5jZmEDOB%2BYKlYtWxplgnrD92CTYRm40txFZgj2BbsJexA9hh7DscDsfAGeIccH64GFwybjWuBLcP14y7gOvDDeEm8Xi8Kt4U74IPwXPwYnwhvgp%2FHH8e348fxr8nkAlaBGuCDyGWICRsJFQQGgjnCP2EEcI0UYGoT3QihhB5xFxiKbGO2EG8SRwmTpMUSYYkF1IkKZm0gVRJaiJdJj0mvSGTyTpkR3IYWUBeT64knyBfJQ%2BSP1CUKCYUT0ocRULZTjlKuUB5QHlDpVINqG7UWKqYup1aT71EfUp9L0eTM5fzl%2BPJrZOrkWuV65d7JU%2BU15d3l18unydfIX9K%2Fqb8uAJRwUDBU4GjsFahRuG0wj2FSUWaopViiGKaYolig%2BI1xVElvJKBkrcST6lA6bDSJaUhGkLTpXnSuLRNtDraZdowHUc3pPvTk%2BnF9B%2FovfQJZSVlW%2BUo5RzlGuWzylIGwjBg%2BDNSGaWMk4y7jI%2FzNOa5z%2BPP2zavaV7%2FvCmV%2BSpuKnyVIpVmlQGVj6pMVW%2FVFNWdqm2qT9QwaiZqYWrZavvVLquNz6fPd57PnV80%2F%2BT8h%2Bqwuol6uPpq9cPqPeqTGpoavhoZGlUalzTGNRmabprJmuWa5zTHtGhaC7UEWuVa57VeMJWZ7sxUZiWzizmhra7tpy3RPqTdqz2tY6izWGejTrPOE12SLls3Qbdct1N3Qk9LL1gvX69R76E%2BUZ%2Btn6S%2FR79bf8rA0CDaYItBm8GooYqhv2GeYaPhYyOqkavRKqNaozvGOGO2cYrxPuNbJrCJnUmSSY3JTVPY1N5UYLrPtM8Ma%2BZoJjSrNbvHorDcWVmsRtagOcM8yHyjeZv5Kws9i1iLnRbdFl8s7SxTLessH1kpWQVYbbTqsPrD2sSaa11jfceGauNjs86m3ea1rakt33a%2F7X07ml2w3Ra7TrvP9g72Ivsm%2BzEHPYd4h70O99h0dii7hH3VEevo4bjO8YzjByd7J7HTSaffnVnOKc4NzqMLDBfwF9QtGHLRceG4HHKRLmQujF94cKHUVduV41rr%2BsxN143ndsRtxN3YPdn9uPsrD0sPkUeLx5Snk%2BcazwteiJevV5FXr7eS92Lvau%2BnPjo%2BiT6NPhO%2Bdr6rfS%2F4Yf0C%2FXb63fPX8Of61%2FtPBDgErAnoCqQERgRWBz4LMgkSBXUEw8EBwbuCHy%2FSXyRc1BYCQvxDdoU8CTUMXRX6cxguLDSsJux5uFV4fnh3BC1iRURDxLtIj8jSyEeLjRZLFndGyUfFRdVHTUV7RZdFS5dYLFmz5EaMWowgpj0WHxsVeyR2cqn30t1Lh%2BPs4grj7i4zXJaz7NpyteWpy8%2BukF%2FBWXEqHhsfHd8Q%2F4kTwqnlTK70X7l35QTXk7uH%2B5LnxivnjfFd%2BGX8kQSXhLKE0USXxF2JY0muSRVJ4wJPQbXgdbJf8oHkqZSQlKMpM6nRqc1phLT4tNNCJWGKsCtdMz0nvS%2FDNKMwQ7rKadXuVROiQNGRTChzWWa7mI7%2BTPVIjCSbJYNZC7Nqst5nR2WfylHMEeb05JrkbssdyfPJ%2B341ZjV3dWe%2Bdv6G%2FME17msOrYXWrlzbuU53XcG64fW%2B649tIG1I2fDLRsuNZRvfbore1FGgUbC%2BYGiz7%2BbGQrlCUeG9Lc5bDmzFbBVs7d1ms61q25ciXtH1YsviiuJPJdyS699ZfVf53cz2hO29pfal%2B3fgdgh33N3puvNYmWJZXtnQruBdreXM8qLyt7tX7L5WYVtxYA9pj2SPtDKosr1Kr2pH1afqpOqBGo%2Ba5r3qe7ftndrH29e%2F321%2F0wGNA8UHPh4UHLx%2FyPdQa61BbcVh3OGsw8%2Frouq6v2d%2FX39E7Ujxkc9HhUelx8KPddU71Nc3qDeUNsKNksax43HHb%2F3g9UN7E6vpUDOjufgEOCE58eLH%2BB%2Fvngw82XmKfarpJ%2F2f9rbQWopaodbc1om2pDZpe0x73%2BmA050dzh0tP5v%2FfPSM9pmas8pnS8%2BRzhWcmzmfd37yQsaF8YuJF4c6V3Q%2BurTk0p2usK7ey4GXr17xuXKp2737%2FFWXq2euOV07fZ19ve2G%2FY3WHruell%2Fsfmnpte9tvelws%2F2W462OvgV95%2Fpd%2By%2Fe9rp95Y7%2FnRsDiwb67i6%2Be%2F9e3D3pfd790QepD14%2FzHo4%2FWj9Y%2BzjoicKTyqeqj%2Bt%2FdX412apvfTsoNdgz7OIZ4%2BGuEMv%2F5X5r0%2FDBc%2BpzytGtEbqR61Hz4z5jN16sfTF8MuMl9Pjhb8p%2Frb3ldGrn353%2B71nYsnE8GvR65k%2FSt6ovjn61vZt52To5NN3ae%2Bmp4req74%2F9oH9oftj9MeR6exP%2BE%2BVn40%2Fd3wJ%2FPJ4Jm1m5t%2F3hPP7MjpZfgAAAAlwSFlzAAALEwAACxMBAJqcGAAABCNpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IlhNUCBDb3JlIDUuNC4wIj4KICAgPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICAgICAgPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIKICAgICAgICAgICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iCiAgICAgICAgICAgIHhtbG5zOmV4aWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20vZXhpZi8xLjAvIgogICAgICAgICAgICB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iCiAgICAgICAgICAgIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyI%2BCiAgICAgICAgIDx0aWZmOlJlc29sdXRpb25Vbml0PjE8L3RpZmY6UmVzb2x1dGlvblVuaXQ%2BCiAgICAgICAgIDx0aWZmOkNvbXByZXNzaW9uPjU8L3RpZmY6Q29tcHJlc3Npb24%2BCiAgICAgICAgIDx0aWZmOlhSZXNvbHV0aW9uPjcyPC90aWZmOlhSZXNvbHV0aW9uPgogICAgICAgICA8dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPgogICAgICAgICA8dGlmZjpZUmVzb2x1dGlvbj43MjwvdGlmZjpZUmVzb2x1dGlvbj4KICAgICAgICAgPGV4aWY6UGl4ZWxYRGltZW5zaW9uPjQ0MDwvZXhpZjpQaXhlbFhEaW1lbnNpb24%2BCiAgICAgICAgIDxleGlmOkNvbG9yU3BhY2U%2BMTwvZXhpZjpDb2xvclNwYWNlPgogICAgICAgICA8ZXhpZjpQaXhlbFlEaW1lbnNpb24%2BOTY8L2V4aWY6UGl4ZWxZRGltZW5zaW9uPgogICAgICAgICA8ZGM6c3ViamVjdD4KICAgICAgICAgICAgPHJkZjpCYWcvPgogICAgICAgICA8L2RjOnN1YmplY3Q%2BCiAgICAgICAgIDx4bXA6TW9kaWZ5RGF0ZT4yMDEzLTEwLTI4VDE4OjEwOjUyPC94bXA6TW9kaWZ5RGF0ZT4KICAgICAgICAgPHhtcDpDcmVhdG9yVG9vbD5QaXhlbG1hdG9yIDMuMDwveG1wOkNyZWF0b3JUb29sPgogICAgICA8L3JkZjpEZXNjcmlwdGlvbj4KICAgPC9yZGY6UkRGPgo8L3g6eG1wbWV0YT4KF4hy3gAAPFxJREFUeAHtfQeAHVXZ9pRb924vqZsekBDSA4QiBAhpdCSASFHAigUVsPAJAQX1%2BxRERCmCEEBKBBEQCIQiJQQS0oAkkN5I2d27%2Fe5tM%2FM%2Fz%2BydzdzZmbt3NxsIv%2BdN3p1T3nPOe56ZOe%2BpcyVJkEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAICAQEAgIBAQCAgGBgEBAIHCAIiB%2FmnoZhjEQ5Y0ADwZXgAvACXAjeDt4I3irLMsM228EPfzIvA%2B4ClwGDoCT4HpwDXgXdNBw3a8EPYpRwFDwcHBfcAlYBcfAO8GbwRuhSy2u%2B42gRwSZ875QjwHgQjCpBbwbvAFMPZpwPTDIMLr%2F7MqysT%2BUf3zu3MDkJ58cFmhrGammEoPbikpGNlaUjxqweeMSQ1G3JIL%2BrU1VFR%2BN%2Bc%2B7OyRZ1nukQ3fra6Kzf%2Bpr6m8Yyppp08p80V19%2Fal4qRmmBOLNpYU1a048Zfe5c%2BfyfTogqO4rRxYbdfGTZEVRshQydJ%2BqqOtjirxmwDPv8Z0T9P8ZAjkbCTR8NAKjwW%2BicUv1pO7I4yCkOwd8KvgQcDnYi%2FiQbQK%2FAv4H%2BA2U2yuNUqYRPwl5zgIfDaaRpYGxP%2FQ0ajS2W8DvgJ8Cvw4d2nDtFcroMROZnQ0%2BCjwI7AN70S5ELAVTl2egyx4vwe6EQ48g5GeAqcdx4Fx6EJcd4DfBT4JfgB6tuPYKQRca1l%2BD7ffCNe90tE5qOG5KRKmr61LWngEe9KSuKHWa37%2B6rSjy1rvnXLR0nxphNPCbxo0%2BvLCu5nx%2FMjlNSadGBA0j7NPb7RfqJCko1JBkKYl2NaUqjbrPtzoZCD3b0K%2FPowcvWYXnPL9ne8uo4dMqdu26KhHkLeuaVEnWcMOadVXdmfYHPo4Xlyz7eNykD2Y8%2BOC%2B3TMY2Q1jRx1W2Nx0Tqi15URZ00dKhl6OHhk7iBLK1FDpFl3xbdMC%2FreaSyseG%2FrB2v9016jjhS9JFqqz9LT2djhuvotdVzqHRN2McaNxIxZDJAtAvyL707p8l6QrN5cvfG9rjixE1OcUga4M3M9Qr5vBfDjuBz%2BBhq0W1y4JLzgN20%2FAc8A0JN0lGraXwTejzFe7m9iShx4cnVwO%2FjqYxrq7tAoJ%2Fgy%2BH3r0eGQJPfzI42LwD8E90QPJJL6Ed4LvgC5NDOguQQ%2Fe8%2FPBV4MndDd9Rv5DXH8HfhB60PjtE0GnPyKD7%2BWVSaxVSo07VFJ2w%2B7nfHqzc5MhLKOVI7WpPknzB1a2RAr%2F%2FOYll9%2FfXUO3aeyhR5bs2XmtL5GYXaRragrGLI2sddlbIQUyPkSzJ9Pi9zcmgwUP7Rw59LdjXl%2ByzVQqx59PhlV%2Fo3%2B05i4NeeRLVn1pYFtVFdZW%2BSgRCr%2FQVF5x34hVaz6A0ck%2FMxT6%2FnGHD%2Bq3ftP1wbbYBahzmHXmjdcdN0FGuIp68mEnzqlg6Lm6qj4%2FHfH%2B2vdz6Q5l5ERQGqkFAxcji4siijwkZhi%2FijQlf5ErXT5x0emTD5Ok1FKUkWXgIqoitWrSvXJQubH8GWHg8sHy8ybj%2BUZmDMNyVIiGyqLtcFyORm2BFeB2RdpvIvxGMEeA%2B0ppZPAn8M9RbrdGUtDjBKT7PbinDTmSdtAiuH4IHd7tCMnTAT2IIeswPc8kXYnxvnwHurDjkTdBD04R3w4%2BK%2B9EuQWfR%2FQPoMe63GLesdBpOGLfA7dPc3mLmjGpulqj7ciJkrprpyypGDv0gPjQ%2B2HsFFmRmkLh12oHV1928JL3N3aVFacij7%2F%2F7msLG%2BqvDqORb%2BswmV2lzI6nsQvDGDYHAttbikt%2BOmDDtr%2FnMji7hg%2B6tKp2z73devhtRbK%2BPtQ3wDIVtS1VUDDvkxHDbsrHuDKbzWNHTSz7ZPtjxcnkyDbonsuQ24o1TV8Y5bb4fHVNFf0uqV638d%2F2eLs7rUpnpIrCjwV1LWj1IjVD2hJpTo6D%2Fo122e66aeB0GDjk427gdBi4z9kIjh0CadYsjJxdXr22ak1%2B7TW2m%2F%2F1pORA4BTE2Y0bRcvBng0BGis%2FmL1xjjJ6w7ghG7PTeyWuTyBvlp8XQfY7EHwO3BvGjWVyWvMl5MtRWN4E%2BRMg%2FAq4t4wby2adnkfeX6InH4LsJMi9Cu4t48ZiOd27EHkfQ08PiSO3vIxbD%2FPvlAyNAxZcZSmOxrq0rXVq302bF6ybMPrQToK2gKVzppWcdNcfH6mK1l6HCcBwrIfGjVnSQLTiGkwmqsuidQ%2FtHjZwroQpT1txvepkfVPQtxUOXzodLm9u%2FubgD9e%2Bvv2g4XzHc9LHh48ZXrZj%2BxORZGIkdXYzbjSgNNpOYghxCqXTFSW1Ox%2FhyNcpY%2FlTfmkFRoOJOBJpSENGJ2CIFlBPs2TEdS8CjTPGTojqn9TVaZHNUS2yycbro6HozYCRt%2BW%2FnlxfKjRYDP%2BWCzrzvXrrmTT5TzW5ZN5FEBvTR1BOpAs5tBXGNZC5AxzqSrab8ZxqvQ%2F5c4TaJUHuOAj9A1zdpXD3BWgU5qGMGV0lhcx4yDwFdnZYukqaT%2Fxg5o0ypuQjbJdBmiHwd6vDYE%2Fv5lYxYnCyW%2BNrpWUDXIiRSdX27Y%2BtOemkCivcfl1w0UWRkW8s%2B3t5rPVsyrs18pY8y%2BboMJC55iqbRsfAallFffS6PYP73YgHd783SpZxDacSQytqdj7B0SFWCt3LhT4V23bcXJxKDo27tJesZxALjZqqJtM%2BX5uKtUbW20nsTIQ1rahk146%2FEEtnPP1ca9M17bGQTRMNebUUhb6HHP1uaf6bwzRAXepTI5gO7ofGur%2FJstQfmAzA9DQ3qwkCAjRkbnQEAr%2FoiOCU%2Bz2OMLv3J%2FC4GUW7jOVugoNj6yVgTrdx6rPzm4FAB3EU9GtHWJYXjeaFCPhNVqC3h%2BuJH4KpB69RcFfEebE%2FoJxTcglmGu8HIZPPqJPYbgUTC%2BpCbIhRV1QAgftR1nAvQcRxJP0QOB8jy2kNux6b4I%2BDu6JKCDyWqXNXsvb4K%2BDJBx97Gk83NlUYKUyHOVnzqc1%2Bj8aXmXHqryQZP6xqzaobOhkZdPYmvvz8bSVtrbM5AnIjtslhMBt4lt0aDK1tCYWXxwPB9SybRsCt4WdeNDhJbEwpaW66dteIwV9jWHeIBjSEPOxMXQrwOrFMm73IypZGR8J0YFF93d07Rgw%2BNysy4%2BGGEn8ifhanJZ3EvBP%2BwNq68qrLaqoHT64dNHJCtLLvmW3B0Jusr5NoIIsTiQljF73CDWeuFNQSd0EubaVmByCUSk%2BOF4W63XlyLeD%2Fs0DeFR1%2FdF4z7oyz8w1DxH8jcc3bjS5HoDPudYS97SaMho0P4HVucY6whfDfB14E5lb8BNIqcHM0cjD4AvAl4FybUr6DNP9E2lchl0UIH4WA28DWO5IVb%2FP8C27qwfW0OuSFNfOOowOsy2Vgjhi9iCPDO5FmCtLucAohnEaQa26DnXEO%2F3b4%2FwamPjRqLWA%2BnAHwQPAJYI4WDwd7UT9E%2FBZlngtdmNZJtyJgtDPQ4d8F%2Fz1gpx40oCPANObsvOSqD%2BNugx5nQw8d7pwEOdbvax5C8Uw4cc6LOHLSsCV%2F6%2BhDjtPTfmsZx0wbTjUXFtQ3TixsbvxRJJE4KsFWwUFtCAu0tV66buJhf8Ywd7UV%2FcmIQV8ujrVeFuucxBThKCat%2BrSGUOhf8UjxvOiAqmXmNvnrr08vuPji8LC1K%2FoW1zVMDbU2XR5OJI%2FSdc2cfrPy55VGTkZ4QWP0FkyVLj5o%2BYcd5dvlnG6WHQ8G1zcUl8zNijOkiF9LjlATqSN8ycTREU0LEFBnFTgNqGpptagheteGMYesdm4EiTQ3nlSopQMx6GcnYt3mD24G1tMd63gfYYS28MgXn36poK3tKNOI2hJyA0qgNfZldCLmua05%2BmPSsmSZ%2BnJIS8%2BgQaS%2BGLopMUP%2FNpxv2LISToFAzxBAwzMEXA92kmsvD0Jcd3vNKezw18B%2FITj7TXFRETLjwcvAuYjl0Yh0EPzozBrP5EqEuJ3gvNatIEd9qXcu%2BmuHAjYHEpybK1Em7mFc2cjnJMiEwTeCdbAXYYOdOR2alRfCZoBzpWN%2BT4KHZCV08UCmH%2Fh%2BcFeUL7435ciI2Gx0i0%2FW1uiNIwbpLRGf0VIc7OC24oDRWFG0yWsKjFViXF3%2F8ifSkLWntdxGSdDYM6jvr6zqc8qSeSY85JMIb6os2mauZbV31Kykna7coLJnePUPWkvDMepqlWm%2F6ginfjAA7PR1EKcRNVtdrTQsv7Gq%2BA3Iu79XyIcbROr6lT%2FaVho2vMpl3tG%2BZa9Sx45C4agbWHkndbLKs64Mqxnc57d2Wbt7%2B8jB5yRQniVvXVl%2BU3nhTq%2BpYObBzSasl5UmVhQwiFk82PPpdW4yqZ0%2BLl43fZxh5%2FisCfBP%2BGt02qRcHTd71Q4Yd92ssVPSp0zMqk%2BmbqnozHF3onPg%2FkwcMDX4dBRxjtJYKkdRHFHZaR08%2F7YH2NzT4T7e5nc69yCAvfq3nBFufsitQMPGheVXwehMuxKnTznSsudJHWa7SrcHcpRyKvLnjr0uCXIPQY9NEOTaFafg3OgrkPkTdbYi4Q%2FCfZXl97jejnDuPjQ84juCIcMZtOuQL8N%2B0RGR7WCDyOk%2BjrJNgjw7AJw2zvWgP4D4r6OMlJkoxx%2FI7EKeX4NIPfjKHKI%2FgdyzkM8aRdnlEc9R5%2BX2MJubU7N%2FBh9rC%2BsVJ8%2BBrTz66G%2F7P37%2FCD82eHAEYydufQ%2FEWk6GftdBf718%2FYdfLcJaFdfdnMQpOo5i9gwafIo54nKMcpzymaMIt%2B0YOXRzae3uRxRsVOHIzU7clRmKx8%2FYPGbklKHtsxz2aFe3oci8z8yo87OEOgyVpGUwgBd8MnzQK2X1dX9UMS3prDcfsKJE29Rj5%2F11DpwPg0EwmlpFqdckJ866WaPsdnHb31hZybIEdrsWYWAKLDtigCmm1PR%2BPByOwLqOCJtD1aSXYpj6DKaSh3CKkhhFDD0cw%2FEBKbHvRwZsRe11hvc66TKmTvXFA7FBCSNVYUhGujQibZafWtGQLdVzX930wwepsl6F%2B1Kqq3oCxxabyiKF6%2BX5b%2FNW5EV%2BzWjAJmDXG2%2FIchwPxF7gu84x6%2Fkx9fOl%2B0qapvuC4R2FT7%2Bz28oCmfKp7U7eVtLP5Jpl4PAwRqDF11w0%2BRsezlaXcAZd5hHOYK4tcTu73RDlEG%2BPgvwO6PI9%2BGhUs0ZqmcRs0M8B2%2FP9DvwMdyOuLfF4Q17GzcqAekOP78P%2FENgtb06hcQqRUygWcbflZMvjcn0RYT9G3t19SH6JdCeBmb8bnQhd%2ByBfdihIk8DHmS73P0sQ%2FG3Id2ncrOTUGXQN%2FIeC2bFxI9adOr7qFpkJ%2BwaufTzi%2F4nwZeCs0YSHbLeDxy1atKdmYNU%2FCpOJK2OO1HxYMQ0wYtUxx1RiNNPgv%2BOWy%2FngOAkyOLitttX3G3BpvtOJVh4D12%2F%2B1%2FbhA%2F%2Bnb7Tu986pUj4QBZgyjEQbL0UbguWAbj8jVjHZVxi6AZJ0986hA9XShuifZaz5OR8%2BA2EFrc1X4P4%2BgvuMKWbZ0JXKlvaJQrZ%2Fe4mYBJsbZwKjm9zOEG46ZPzuwtr6b8UMrWBvqnYXdkrqsXAJ175dCSXFWlKpu%2FySdKv1YHK3K%2F5fBJ1%2Fh%2FhG14T7EKjFdfM2N86edKSma%2BdE9fqxAKgMOKCzauj1MTkWnT5uK5r2Z8qKU%2F%2BQ53%2BYhC7daugbpk%2BchE0zZwLPiYaUrNANOYQ8ApJmwIYryfqmWGt0%2BvgtsFjPpYtTT%2FeZ%2F2GLvUrGaZMKGrXULE2T5yiS3JyWjH4xrfN9hFKKoRkzcbj9Pis9sMOZdvnR1qbwK4PedjWiRuPJ4w9KKRLylo40jGRfXZNxwkM2EvE4Rr7jP4ExXZhKpZ%2BQX%2F5gd%2F3M8UMNXbpBxyOC%2B7H3UcIJEhy%2BWVn54nJ24A8IyjJw0Oh08EEOzaLwz3OEmV68DAPhOMEtLhP2NB6SJ3LE54qiIXgTfLyH0PEo34%2F8uX5GPaZ5yDH4cch5jUBzJONTLHPn5nkQOsND8FTEXws54kQ6C4z77kpsU6%2Bmzq6xOQKZBuXcBhEvA1eJuMPBVj3Pgdutc4BgiS%2F0Vcgz7x4jE5EyelwN57HgTg0YRcDngl8FdyLUgYbN3iGwy3BU8AewW2fCLrdP7lQwuFRvQRF48%2B1kHlo2pCKu2R3%2B5OPDgum0OYqwy9DNnX71kcg8fKXjNbOZcwp04V908df%2FNP0vt57jtk7FYS%2BOD8xYOufk4snze7cx779p%2B111%2FSuOL421nue88Rwt%2BZOpIzbj6yxQ4R1WQff71vDqJK6tFaRSR5x4z%2B33YrrxylEvv5w1Gst8MeVuZ7oO%2F%2BZPOpxujkhT4uHm8oL%2F8eN4AUeb5LAstR8ZSGrsbPYaYZyakhStqGH6%2BKvT6TTfmcPQqBRwdNT%2BdMBioPykbuC9M46JNvqPr5k5%2BRb5haUf5atE3azxV2qa9mXIj%2FIpMge27XmbBeBhwn98fQbHVnS%2BU8crjf7Z0ZmT7ix%2F4T22fyY16smgrquTilXlvGaMrPDoyknH80tBBPHdORgFHAxjZ5YQwIHPlC6tLijV30CceesR0WGga08edxZ29nwd3dcpMIRlKjYJtavGuuOICTwo8Ri%2Fqp5cP2vCH%2BSUb5vqS12MPJkJ%2Fprl8r3XFNl4DtcDxsBRf5PQ8NDN0YiTaBx2OAMzfo4SSj3iWHE2Vj0ilEmM2Ztnb8%2BNCxFeAiYdA%2FbSg435vgJOw2LeSFydVI2AcQwEhuh4ehpkijyHeq2io4f0CtKtA7vhwbCRzDdzL6fS7UF80Mk9okwdns2R%2BIvQAb1fV7oMoZyidKPnkfcKRHildUvT7TB8sivhsWrFvFT%2BidTXnVSAjR%2Fmi86ADPEtbsNh6YbyyjvwdjujLbGcV456YpGiO%2FBtxE5ybMzRsFdXfbCRhqZ3CSOzhqo%2BN%2BHLJknWw06sSJijR9TbCm8pLn2xRfUlOWJ1Eo1caUvrhQNWvrt419D%2BV%2FJLJ3jwnNk6k%2BXlRyY1yVDkUftDsD%2BODPCFViRDVXTlZ8j%2Fx6osH4G2vYBT1TBoUirDiczn12D4BuGWf1XR07fXnjyRHdmcFD1l8mEY%2FdyPEdXPfe15FzHPjrxRDstiWBxlEDwcxq%2FGU3G%2Boaf%2FHJ0%2B9ts1p3%2BhqKMQA08MhfiNAtMsdsQ4HTRetFKonqSgXvQxZQfBYzScMqYsOmPcTxB9M7wzceSgjF%2FL6dAPenGWAe%2ByhLpjdkg6EyP96w01dXoaa%2FuWLjZ98O5krx93FPgZOexv2BHQgT0IO9E4%2FNUe4HBPdvjt3g3wmD1Be2A33XdCfrQHU9fGTH659FgNmW5NTWbytF8Ww8P6eJHVGHF0MtRLCOFP5ojrMgqNP43YFLAXJn%2FLZFKJ64iM2%2B3yL%2BTVudVyk%2FQOyzUyH4ZknYwYXhTq9R2PLDlD2OMOkUeersH%2BVHKYmmm07ALc5YdWIdbmL2pR06lJeLc7EXcupoKBFfjc1YedIrsRUNNv8Ett%2BDYmdyQ6CV%2FzkEKxmNlpcsbtq596pwPBRayHk1h7Xyo5xTJU%2FKQXDU3YbMmc0jg%2FArxCOABeFY3eOuSDD5fXDaj4xyfDq7%2BSaxNJ51zcQypqa%2B5KKGrCapVpUHlkAHu7vWYw3DPKEcqGHHWFQTfOQxX7snF3u%2BfMgmhRHg1mAJ9cO1mR9Wsx7XiiV%2FaNM44ql9Lp22E0LoFxq4JB6MgbxkIqwGfCinyqVOhTpBA6OoTYKgPPoBpWlDEweTcoyYJzO8qQuV%2BsXY6yuYjxHcxELt1zLaV%2BH%2Ff8KhjAQ1C8jC%2FHuBKDqX%2BGjoHrSmSum%2FAhkDFk2FBa6Q7BjPxnerEbuG9BE1jgLOKIYVlWSLYnVyO6HI0oZ1x6TEwP3pODram%2BUTkKoR6WXA4x7yik57B%2BubeEecSB0QPBe3tc2Qni8HJ0sk8EXaI58LDOzg1AIV4jWj6A%2B9rxYB2IB%2BvkRpy6rHaJuNQjnKKvgzumZBiwXwgzFcF421nsuTkJjZGkq77du0aMaMXXSoZ1Hr%2B1n51Jq4FlGL25NBnOHL394956q9ZQfWucL5yVQk1pwyx3r16hdzoQeMvnkinWdTBbpw97%2FIYbOBOBFks2dgw76OrmYHglF%2BfdiFObfDk4nVja2no2vvTy0MCV766oHVD1J%2B7gtIylW9pcYXJSeh8bUp7nIrdFUEppCQXcZpkskW5dadDQuA%2BHcQmxseZIh8amEMaH36nkeT4aHjvRCHDlC%2F8m6pL2PWPuVDcosQYQvxKjsamcS2Q5GTKKYdRSkrErpusLmtPafa1p4%2B8YIS5D%2BToNH4kPVhvXRFWlChbtm1y%2FK2mtaEZERA2oUplfNY0jxDoyZjqLqDdlLC7w%2ByRZkUNyquOIodQwc8JJWGb9MoZ4ldTPmRGMsmmEaYCJBaY5cStRAvZh4ZkdAqdrvS0dDpSrqSRAHA6FznAoRZz5UV9n3e1iZXaPw73F4d%2BfXo4MvGijV0Q3w3PVp28mL%2BLheCU6SqHxqenw7V8H9bB3XuylNcOz0x7QQ3cd0jWAO43UMvlV2PPFM1YO%2FxX2MIf793jW9sloOPJz9e4cVv1NnkdzntGiMFv15mBg8Yx589oaK4vLOKR0I82vbnIL71YY2ovUQP%2FmokT82KQjIUdSOBeHZ5pTfjnfP0fK%2FLxawLdONxeZsl9tgq8YeunwD98Mw2mqxU05%2BFzX2cbmLQ8UJxPHctTm3IXJUhlmLu6gpeYOVWziuSIca7kUa35PN4w55CbnGTum6YoKGhN3JIqDpwMEhZri0Kyk%2BNQz4R6FsDVdpc8n3hqZ0Ki1aEYTjOoabEHcgrQ%2B2ZBH4F4cFlQkFVN1VAHFwgDBBQPAEc8X6xc3cMPUnxlOMuZKSuPbk8brUvq7CcfTDEMhN2naAjzlDwX8vpUxSanxx9NBNSAPwHrW7JShfxVGttoyiAlsIkGBh%2BPk5Ldbi9uulVPKE%2FWxZCuybUXxQ2DILnduVIIKelKXlqd0%2FZm9xWs%2Bv%2BJ7scjfaHZIN02dGkrr9d9F3kP2ypjqm41GAEYeU6bRtC4tg0wNjBo7rKOxfjiSKFiYtac4sP9aVvgcqOns8e9B2GtdqN%2Fe03MX8urdu0v3MBQNJxty%2B3S9M6fe0iNXPlZH08LTqQP9bDCcz5ObXG%2BEBXJkQh3cBjA5krhGMQ9n22wXdD4bFyFysF3A5l4C94s2f4%2BdNE7Sgw9mp8fa0NJzTy4e9O4H3yhsiN6ABX%2BOTrJl4EspqhQvKHkUI5hc9xFb19VYp8TdDuCO1ErvGQ4sxZnd6s5qdrskZwJdUuLmahmbbCfphi8SNbLqzw9R4wzhzPFvvHxNuKnhiiJNq%2FAydMyOxo4A8ShEWazlvNC2%2BKxPhg74xYBNO%2F7UzZHvsqRPrbc2m1hHBnBG7kSpKdErBo7wwljAuOlvAY7HJEVfKumh7Skp4QsY8gBU5WQYkQtg0A6yN%2Bx0I20F3ujLak8d96%2FKZ1fuYN1rXhtdoIa0nwUkucy%2BCYSzAzHNWKPKvp%2BXvvSec1Zsy%2BNz5rw7rWmdgny%2FDtEq5sUXlaMxTI2ekE4kjy1bsJzLAv9hXP2scRNCigoD16kbpmNr47uVC1bcQDk3Kgk0fg33fwq6TtzJ2UEcrcJ4xxOG%2Fh90sR7EuG6FnpIafEFfSNf0g7FeyHO15wMLczq3I%2BEB7LAe5Oeg4%2FVgWmqLCPJR4AVWgMs1V6PvNJguyfc9iL1%2BgO7dUOzdiLKvhXlNPTJfawo0V8NHbHMZnn3Vz57e7EzbA2xu6mC%2Fz7aobjmZj2XY3RJ2PBu4P8UQyDV6uxX30cLQLa8uw9izxOJ%2FRW115QPSgIosAy4PqCj2JVMTC7TU0BR6xc7zZ8w8BGvSEgy8vegrF79kFiZLafacOjUfCMPXP3LNXJjJu%2F6DHQNGRZnZTLoJY6mPLej%2BILwxJQqHIS7EM1St5XIWfhTL7Iy8HqO5BxK7d38zGGu7ADspq7GLXuKeeTdMGcYXQtXTxVUN0dtqhvQdiDm3n3Lq06XoTkH4Tbjp%2FFCzNdrmZpeY4mvyJWLPdhLuYQD2z8OASCtk1fht%2BZGr%2Fi3PzeqEbjLmjF7S0OxrSuvGNWzY7UYOOw5hEIxBvqQxE8XfSxXCAbUAo7EzkmbvZK9SSItfdjbmxwLS2r2he13nzp%2BvRWeNfw4%2FPnU8Qk0Dx1huQoGh628Y2mHw0sCZpGlGwGuOBvB6zd5kUuO4giHhjF82UUfcyzfxJt1U%2FuKyN7JjpQ1bThmzuCitYqCLXeOIdKZ3yB8QXtPAoXH5AI0QH5pzbVpxeeC74FwGbrdN3ukc6QzYj%2F76HHkfnCOuO1FfyCHM0S6JerBNJHZOKkHAQPAuZ8R%2B8HMqlI2U1YGxF0HjVg1eZw%2FsgXsA0nDa0Y347FMHiy6E4yDL47hys8ZTjrBue9mYYv2oqKy55ULnOjeNCBscnKh1Hblxowc2NLQ1VFVeZZ7rwqxAw19urYG06zOsaGmvuuStN9otpb6vtc6XbcmoP3%2BsFMrulzYEU4iY4mPW2eXyodVUpX7y4y81u41wWbnMzwr9BBtJ%2Frd089pT%2BektfyJxHD7pFWYPxc0qc0RnoGNR2tR0zc6R1av7S9IDzCsXQTu5KRy5Ipzo6CeZxzNa8UHmSC%2F8CCrLZu25poa9iXeW%2BdSXHcbNVI9n3ppOmzTPSGqHYB3q62nbTgzOWmIkFMGtnALhe%2BfCMqAP2yesan6M1sz01p92tOVQMJmahd2RnWY%2BMMJLpTWMGKXs0TOK4CguDCM8yMqLVxzvz755tkhGsFq4ZiuB8F3Tx%2FbBYzUQMX5bEk65cjdnDY5EPFS2oJNxM0WH%2FPv9%2BvrZE%2B5By%2FLFgCId5zI9as%2FygHDbLf2d0IijYjtNg%2BEbaw9wuFc7%2FHbvBKT1agDtcr3hXp8jkyOgRyRHfJdRmXpMyCG4MRO3HVeuTbkR249j3SL2Qxg7HrkM6Qm9UCbr4mZAmTUN%2FVY6MthfSbcH3Y4OVq4Rp0eyzsF8m5kRvzxiZ4a5rRsxB3MXI6Ymm0rLfzz0gw2LGMb2GF%2FH3%2BBWOTbiSio1xflZKzNdN%2F6sO2LsEF8qdQh%2FKNVJNMipQHCNM7w3%2FNQ7mEqdkHbJjG2moagf8%2BISnRXEs2%2F9N%2Bx4oGJndPbuocMm15aUXdsWDH%2FAj1q77QxlB0TnxomGprn57LJM%2Bf1HwHBOsQwmG21%2BiJkfZM5SZB88bNQxkN2EnSSL5Gfe85x9KX7mvVog8h9sDGnfGp8p0wQJP%2B0HI2R2eK6fMxpnKtKjrDU0u2o8CoA8zocBuRmj5N85WTPkP6D5%2FSkevlH2dCyDeqL%2BfYyvTs01Y2JP5unGgPULmUPmWTKcCoVJXARekRXh8LTUh9iZfziENcvPA9nf4Teh8GLw0TbFCejl4O%2FbwuzOpXaPw90P%2FtnghxzheXvRONK4TvRIwHeUB8mbcM2lx2DEnwzel1EC68H6eNF7mQgaNzZMfTwEz0ed%2BGkvt5kvjyR7g5GWa41zwPb7tlcAHwlG3u%2BCo5Bl56PaHmlzn434myCXsIXl7URaPt1fyZFgLeL4IpDOB5sNgOnL%2FrMJ3keygz4dHxtMPtxxjNwayyquHLBx2z17Ry2ykfQPWIItJxc6tUmjqeEB8CMfm3cc4hY64%2FP1l%2Byp%2BRI%2BghxuQ%2BNlJ%2FpwTk1LFhXleqbtSbrlPvrheSerqeQ4a9rPnph2LRkOoR3oxsgRSwS4uXzWVmOd7rZxb712XkFD%2FU3BdLKfZZysMuiPpFNDizd%2FPA1hj1nhbtdEUP5BBKMZ6zNpQegWV30v%2B5ty7up2y8ozjLsmsXN0tSalu3wP8KXbWqCyFcZmaPbamrlGwtkZPEwhHzYHHay7tP00VH5ZGox3zhR1%2FmEwZTgF6pw9zvgLG3Y1sA3a7EzbHb8sq2Uw6%2Fz92ywiFtBgeyCYNfOSJUMPv4RSP2PcOvdadBL%2FzAM6GkoAj%2Ble4y%2FQyG7gqOB5CP8V4q0Gy640rT176jQibnQ10j6BtOxEd4uQjhj%2BEXy8R8JahD%2BXicNLaU73F3jIUo9%2Fs44e8Z7BSBdG5I88Bdob8ncYj%2FwhbiyA00vnIxH3JfDj4J7QLCR6MEfCKxD3biaeekz3kB2N8C%2BD7%2FeI7yr4VAhMySG0AFhwbZTY%2FTCHHI09OyhOYuelR%2BT14pln3BDJYbQfDW0MvwbeGAi%2B1ti3%2F0%2BHrVr9zl7j1l5sa1nZwpbGhqSKL%2FHb2wK68bV7qbC%2B%2FioMT19BOr27iuJ7mH1CH73%2FnfZ1mmyN2fIkfL5175593gfSqrndzTqnPD82XbDg6V%2F6ob%2FTwHF9C7%2B83dZWVPmSJH0i8QdgC5pbXTsmqYLwtqGr1ixzFpZZp7sPxwNWlG%2Ff8qK1OcQup6KcQDzOZ%2Bcxe7jd3RbC7j6f75Q49OTQhUSQI82xP8Brvx1mXE%2F%2FmEbFMOJ%2Bw9dlhxOTkVSG33jsRFCovR1NpDDUUvhLRa7E9TSvONcEtkCM6rE3Cocn9pF8MG54MVGN7JrQh%2Fc1qWc%2BW5arGHygi8uunwvqMHAZbZ%2FGdR3Y%2FmD3gf9C8C3gLGLjBFD%2BhcDvZUXs9XAEdgP4mr1BebvOhuQXc0i%2FiPKjmfhNuNLIeTXoNNpXgX8N7i79DxLkmp5cCD1obC3iSJFp3Iwtn6P%2FA2bvIM0WK0E%2B14yx%2BHkO2Rji0Dh1EPX4JdhNDwr9Enm%2BDj020pMvIQ17kb8Du%2FRTzVzi%2BPuk6ULnCFcaUy%2Bag%2FxotJ3kR0CpMzAfP398E3LOBot2zdzcl%2FIFtjf5%2FG%2B2lhQ9NWT1Bk8DddCyD9ZG%2B5UvKsAvfvOnW%2BxEf2E8PuOTYQO%2FO6C9E2aPzu3G6HfgwMrfFuJHRPlxZSfh7JTUGAo%2F4faNR6dst%2Fwod%2BLAqttK4vEJbuUGUS5%2Bemfh8JUrMUWJr5TU1VxS2dh4TZLHCWwUwKaS7X36PYvW8Awv407jh3Nwjxa2NF7Bh9JONFSKrg22hzndeiBweYGhFWMvvBnFD1vHMP1Z0pR82Sm7L35zKtGQR6LBj3SVj6zLldAGH%2BjOJuYBq9ZohqqxtK4VfmxC5rAAnAGE6AoERzFNSRjyprimh1DI4pZUqdXe5UyLdyr7pmVJ4xythMGMw9KaZz5l7BFQ1EqI78lKYvNg002gvkEZlqMAm%2FRn78wycGjsaLD%2BBrVudqh2KcL%2Fgni3kdjdkL0M7NWQXoW09Uibt3GB%2FCTk9ydwLhznId4k5I0k5ujTy8BR7kbI8ND4ve2puv4L%2BR9A6qc5JPmg3mWPR%2F5rkM65Yccuwpd7PmTOh%2BxGe4SXG7Js8G8HH%2B4lg%2FBXwOuteOaNdPPhv8QKc1yr4f8HZM6C7BZHnKsXsuzsPAq2d4CcsvzcFjctBRGRa%2FTGdOzJ9wqxKYRx05or%2BpybKChe68w0HTRS%2FEIJD1ibDfMnNRxyO8X2%2BjEyi40cfEckEZ%2BKxaO94RkXf9etpKH%2BN%2FhyR92ADdv%2BjrwcTVqnJGzhFP5yd1Es9lX2ApzEtatmn7%2BxoV%2Bf%2B6Rtu53RPfZzzatqQJ9bStpaLnYrlyjEgV1TZflvrHqkFB8%2FeI5dfM6648fmGupH8ijFuTmOifT0rCBALMEPy14UNxvg9vvDRkpNxO%2BEr9szMLlAM7f6yzhTZ%2BjDjFkjP5KfX59wkzfmzAk0NK8bhS%2B6FMKEdYhknp4E1vC2MXB%2B4YT0iU2b1ihm%2Fyr7cQjA6iUU43flevh5KZB0uw0d%2BXZyJCpkqaQkVTF%2FPjtvXRFeP4wiPUgxlO1pKY18Mtpn5Mw1QnRGsVv0IGPu3LXy3Ll7K2rLq67OV4WfP5yadJuHtckdKE43A0LD4ewpsBc%2Bw01pNmYI7zA2LjJE8ma8LA%2BDczWMHCL7wRdCngain0teVtB%2F4HjF8mSu%2F8Z1kSPM7uV7cjfyvxXMhtqTED8Q%2FBcI%2FAHshpGV9hk43rA8tutNcDs7r7Zo01AtRBn83TgaL09CPDHjdA47EV7Eh%2FEW3Ivstwo%2FhIpwtylAKx%2BOTF9CGWeCs594SyJzRTzvPzE%2F3hFl9%2FLFZd1JXCsca7o%2BxT%2FxcGjj8FWrPnIyd%2F%2Fx0LJp3PLUZ9GFlz4d9%2FvNU8%2FOJBwOYiQSLqmPPoDt77%2FhtKNTpsMPbDeOHfsFHHr%2Be1lz47VpGEznjaIsf5U7EYncdfCSVZs60nbhwESwc1CBFLiXMKb8PuTOYQO%2By%2B9FlrU2Xcxdb27lFuDOt4XDDw59f%2F3bVnGpcGg1dpZa3o4r1yALEomDuZbXEejiUFOpwzi2cRLX%2BQyZO0TdSQuop4VxiNnaFESj3%2BIL7CpsSjzinqLnoVzbKlTVAO7GRQ1S5FD%2BTI5bbg1N62ZB9hxsBM3Cz%2BwfyXIzarmE6bjVP1iQ3IyPJnfKhshjFDh8t9Ga4IYWN2aiaDpV3phI9c1iaVef5uj7RfZMMamKT1w6zZQpQYiHSHP4wwCdqWTBsvUYwdWCs54bPhsFijIamp%2FasPipwZ1Tou4YvSkB5Yso9hJ%2BaeXzQJ1uKBpJ9tweh%2FLfclTg2wj3%2Bobh9ZBlAzjMkcbuvQCe2cjjOVyfB68Bc7cd36L%2B4Mlgrk8dDc5FbET59f6s3hz9yPvHiHsVzP0DbsSbfiWYmyw4jUbZjWAaI%2FZ6hoOngdk45zKwiDa%2F4vEzF6OCNlRehfxpXG6goAcRKxquJZD9J66LwbvA7EUWgw8GzwafAe5quu5RlMm6ZBHCOJr8DQKdI3K7HA0oy%2F9PRo%2BlcO%2FJCFTgOhFMHYiL60uDcItoZN9DPkEE%2FMgK%2FDSvWCz391Z5nCbcNPbQq%2BRtm1%2FFulXYanSt%2FE0jl06r5Q2N1wRj71%2FAn%2BFJhiOv0cjKciCpSKlIoKV5VKC6cibWnU6LpNIlblMgzI%2FTcPWB0Nrag8b8r7S1U0fFKjLryhZK1vSRKPdunPXrsEayXhFW%2B2mDsdvz4AJNr8AvsmB3KZphF%2BL5P5a7Y%2BgXfmKN3ihWc9jwJWU1Ndudv5tnIA4tqFJUX%2FMHrNNtcvu5oM2jv3BCeMe2s%2FnlEeSZVSq%2FoJIKB0yDkBUBD6T9jUWh7%2BF8nVkK42n09XTyr8jF2elm9D5TS1rDNnzlSzhMvacpWH8%2FttFv7ot9PlKJJu%2BMh0I41DYO%2BH0voqqjWyHrJFSxJq3oHe9eMh7GDHZiKeaUJhMri7hbFu%2FFefgc15MYEa6VYQytOOvamEyfim7TGfgZGr53JsEscnYzafhD%2F0DA%2Fe2hDMDqMD5YQHTt5cDL5dRRdbENBxvfmLRevvs9s52EDO9Eu6gsvQ1dOGgpt%2FLj1fw2J77LCVvXtPuUMXcE%2FGq0VMOUvxxSa9tiRY3NxjFI94uwqvjaaO0%2FB0R8OhEqMR6Bb4PthiIN%2FxQ2YJ0SIABpTsCFIy8ainyICNFYsdG0l9NV2uuhw41eQtDjGsTRuORLrBeH%2FgFwJ4OfI5PLoce9XvHQg408H8pTvWRcwokHcWHajgbLRc4etA6e46ALjWMnyuhBQ0ojlS9ZeuR7L5nvQvDp0KMNZZ4LN8vsdUrhhzTbjpwoqbt2yhI2iljEB5lTlNFBQ45w2wBhyfXkylFQeX397WxQuN3djTjS4E3j11DwAVU2XnymQmGsyPNQNRt7r7T8ZElSVZvrBg6Y2XFUwVYIf9G7qnbPvW7Gka0Zf77HThw5cU2FjapXmZSncYthdBStHnSKG2b8nmRFa9MVmDLsRDTIcaSNRyK3t5ZVvGxIvgZFb60oaGyZHYq1fNefSpU4OwTECNv%2FG7eMPnTMmNeXbHNmihNgxycKgq8APPPTXKybgd%2FdU9vaxoUSPT%2B3yV%2F01qXUUsDEW%2BRKpfheY0Mq%2FT6gexGfPl6py1oAxmaioRtfKvIpfXHS2zQmVmJCDlhiGAk9VP7iim9a4TAq%2Fvqt%2Bjk49%2FcAEmR1tvhx5RZNw9dc1Hv8srGzsDDZVlODFz1cqPiN9NiUof0e06A81mRlhx9ywyfE0vpm3NOrK15czvbEpOjMiWNx%2BPtlHO0wvyVphfNq6iYbC3G27jcYaO3GkQQsyim%2B0uLkGp7r24PffkPcA6jBERDf%2BxLBkzmSwOfnXWjxJOzrVlS0BHfiRFxPDatyGMaNCrKYLDJHhYrxXPkLK0%2FPivgMPa4NOhop%2Fqo2Gyx740zZb4Mvd9MXaV5FGsbdB87HYNGwdacBZbE0KDfRkYP%2BD3HVYK%2BNL86krBe5O%2FRL1NfTuDEjxKNNM74GJx%2FK4xmWB%2BWDmz2b7fCci7JcjRsFM3pcCif1OIFheVB39ViMPL%2BCsmjc%2BFJflaMMjg7X54hnVBg8Fpz18jHis6D%2BG3fcgbWzfpxe9PoSChtzTgNwvQ5KU2%2FWwRyO8%2BocyZhh%2BENDAaPY1lhRdambcbPkvK40YGa5nQTQ%2FnRqgvYKcatfsz%2B4OTpw0PnYRbpsb8xeV3Rgv1sCG1rPd9sNyV2YfhwFiDSmbgq1NP8KqdgpCuHoA7b6uX%2BvkqOxllDB39yMG0vlh5TRIChpekA03Bg1PRXZB%2BPWnlPXf2Hc%2BJMwY%2FBlkzFs5GGwzS37%2FF2hZodxY27s58AOfSAroV%2Fbc%2BeICSO0x6ONH10Iqdn2OHxc2Sjxqd9tSmvHp2T59fpm3%2FuBIMbgWuJg7L%2BcgwyHttkOiPP2oUvFCee3ZU15yZ6Xir4JRNfjOBoMnD3GNLxSUFamYaQ1jfpzCAgcjT31ykhIburz0op1dTMmPIHyhsA%2FwJ7aXJdEAL47eQQ2HuHng8xJZRwC58cSMBPQXhhV%2B1wQjYwX3ekSwV1vw13CzSA0cI%2FAcR7Ys8H1SptHONfD%2BAvU7B17EuJ5u7m5gYaut4mjK44gr8snY8jVQu5sMI1Lb9OHyPA0lLGiq4whw%2Bmdc8D7Q4%2Fnke8ZKIOGi3QK%2BHDT5f7nasgek4uR7Cxwq3vyzyAUz1Sfrbuui5aUXiOraoJGKRcx1uJccjQyHAXVV%2FWfU71%2B6%2F64N52Kp%2B481NtQEHlm9%2FChJ5lHJDpJtQdw3RLHJX6MnXWw2J3rTKPOUSUmy2RfOo0PeGjmLjTnyI25sa71wdDy2kPG0hh2Inx4agy%2BRTzHnNZELFtQHuz2ycpfOgn3UkCmlYZhbm9TsMYBq6FLMEAwahoac%2FxegG00ZRXLdBjP7QSMj5e9sHizFd5xnT9f9yvSj2Ab%2BN7ZgZMbkS%2Bm0cfAeFyBX1W9M6TI94RU%2BWr0iIZ2pM84aESx3XE1fq90fvnC9xqz4xPI23iZxtiNuKbWkNJQn3YGoA26T2X7ZeqzaYjyR%2BS7GKk7bayhADed4PucGSx08%2FfqzHEbqo54prHXy02FAyIsl4FbCA2XO7RsgH%2BIIyzLi4braQQcB%2BZ0ZW%2FQVmRyEfL9IdicT%2B4qU8hp4GsgdwmYo5zeoE3IhKOlG7uTGeT5kJ8P5vogDd6%2BEh%2BsB8DTkHeXxs0qbD%2Fo0YS8rwdzF6Zp3DKjt6utMl2unE59wiX8wA%2FCrsq%2BW3b%2Bbk%2F%2F%2FqdyyzobbLffVOuqImyOaGQ49dRUUPhcbfXwqdXrNv67q3Q9jWd5NE6mvvxKfKhgZU155YXlO6NnZj67lTPr%2Fuu3z6srL%2F8xfkZI8zLsfCA5kuTVSSw%2FAsbIbWVDvyFfdv76tyUfD4ZKQ63JlWyvOfTlFAJ%2BeX1xqDn%2BpiXT21f%2BBAyKewl%2FNuDKKeV8CCZPrsNZ%2BPmlR511q1sC5GUUv7DqIxhOziLtcObNURJ%2F4LQVBoTsZkiRhiPEjXi3flX2wrJ%2FOsspWfBhVDHUp%2FB1lWaO0HKSy42ZjJEmDiv8Ggi8Dj3ZT3GRys41U8xOGOPnENPxW33ZUgeWz9PAAVha6bvAtPrcnXg5eBLCX8U1J0GGDdnpYPbEKW%2FNOsCZN9GwcXPEkcjvobxT2QSRbh68x4JvB9PQ9ITYeHM0eDTy61HjjHQ0uLcgjyPBHIn2ZITLKaDnwbOQ11fB3c7DpsfRyIeYWKMuOPMm4sjpWY7CbgTzObGI95t5e9FfIZ%2FPyIxTfIVumfjDYRm77GT%2BYCQb7Q7G2xc0DKbbjyQbQ9ZsXLh%2B6uHH1pSVX5XwB9bSUFEHNv5cM2IjYLU3lpsGhvERBmDdMBYOv11bUXl%2B6c6607jbsyuFcU4LM0bto6CO%2BiK%2FXG4aCerGc4HJQHB9tKjoodrKvme%2BPeO0YwZs3P4w5tj4XndNGL1Wb9x%2Ba31lvzNo2DnNaNXVK7FZzYx%2BqK9WFymet2nkodNz1TXcHH8Dvz9zVCiWnIXT1E8l8avrobbWO5BXlw2vlx5dhXP0gxXSLVihugrTgG9Anh9O8cSFukAZnHNTrqx4YeUPvLbSW%2BWWL1jx95ChsP16Hvk2I9wzbysNZWB00F7KK3yS%2BoPyF5ZzVsyVYiFlNdbIfgid2L52u40tfWn5UkNX50C%2Fe5FHp52VjkJ5H2oge7%2FP778OU7nsgxzwxGfRk9AjL0bkGPDbqFg%2BN8c1L%2BQzCRGcujoGfAi4EkyALAPLxrsFvA28DPwi%2BBWU2RsjHmTFJ9Ocbz4TztngseC%2BYLf6s55s%2BDl65SiUO0d34NprBF36IbNpGZ6AazWYWPvAJOpAPOrAa8GvgV%2BAHqtw7TWCHgOR2ckZHocr%2FTQslh6cDuaLWQMmHq%2BAqccWXDsR8jsdgaM7RbQHMK%2F78rmnyIdYXAjmel4WpaJRue6k4%2F1Kveujoe8aOPxB8zhAVqr94%2BGXQQ57%2B41pobaWWf5UeoqEXyvABE4xrKz5XKHCbBTwhSolaqjKenwGa1FrcdG%2FsB1%2Fcd4GBhlsGHPImMKmhpndqIWuKb5m%2FKDqbu7oXD%2F%2B8I34GSE03vntzvQqZ%2BmcaSUDl6y5oKC1%2BQIlnRqHT7wU%2BXEekHNW3IDj8%2BE7LDAaMQV7RFR1RzIQWNhSXnqPefygm2XHg9JBwYQ5%2BnFfYvRS0iW8edaEQ5OavghqBu3R%2BGXuUFpS7sTo9IaAHMcvz8jfQgUugRUbAjl2ljigpFHj%2FWyF4XnWUOWbK55fvtqeTz7u2hkTLsZXXL6PFTW2f9jAYj4c5nPS7sSzgh9URxnLwX8sVQJPyc%2B%2Fw1mSnMSjDQ0FjUfj52yugOAs5BK08saVulN5%2FLSdVKeklCllryzf4pYhPgB9PhT4AeLY3nPDHbOxiO3zu9h087vyF5c%2FXz9t3ATgsAS581Qgi7CENXTEXihbsPIcK%2BFnfbVX4lPRJdN4VaIwNmI0cmzM2YiyMeeB8BSu%2B5WgA8sfDh4ArgDzwedIhDrQyG7JpyGG3D4TdGEjTh2oUwGYRp8PFB%2Fu3dAjnxEPRPeNoAcxoA5lYEsPNi7EpBZ62EdqCBLUgQDOnC24%2BOKw329UD1u6rBQfVSJ%2BeOvTCV2J1CWqqmpHLVxY3x2j1pH3gehAfT8%2BYuzQgobWUWo6PmzXkOGzUwUFoyq3bX8yHGtclQiH1tWOGvbh5Pkv4RneN6P6aVffmD490iTvHo0p10NhHfqggcRxQOUjJZheVvTPVez47hPVTT98kGJokyWfUY0dmv1g93GCw9iK8f%2BGgD%2B4PhIcXOt2hCCfQo1ZRxY3yelROKxdiumEQhjKBDbOtKY0o66swr9ZevgdntkzDZJXfs2nTBwF%2BfGYjRgEg6dBfnPSb6zq8%2ByKdV5pRLhAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCAgEBAICAQEAgIBgYBAQCDQjsD%2FA5vMcJPojRmBAAAAAElFTkSuQmCC) no-repeat left center;
  height: 48px;
  width: 220px;
  background-size: 220px 48px; }

.navbar-toggle {
  border-color: white; }
  .navbar-toggle:hover, .navbar-toggle:focus {
    background-color: white; }
    .navbar-toggle:hover .icon-bar, .navbar-toggle:focus .icon-bar {
      background-color: #380200; }
  .navbar-toggle .icon-bar {
    background-color: white; }

.headline {
  color: #fb0006;
  display: block;
  font-size: 40px;
  height: 340px; }

.horizontal-divider {
  background-color: #bbbbbb;
  box-shadow: 1px 1px 1px #ddd;
  display: block;
  height: 1px;
  margin: 0 auto;
  width: 50%; }

.sidebar .enclosed-arrow-down {
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid whitesmoke;
  height: 0;
  margin: 0 auto;
  width: 0;
  margin-top: -15px; }

.enclosed-arrow-down {
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid white;
  height: 0;
  margin: 0 auto;
  width: 0;
  margin-top: -15px; }

.arrow-down {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #bbbbbb;
  height: 0;
  margin: 0 auto;
  width: 0; }

#content-wrapper {
  background-color: whitesmoke;
  margin: 0;
  padding: 0; }
  #content-wrapper img {
    max-width: 100%; }

.row {
  padding: 20px 0; }

.gravatar {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%; }

#content-wrapper .info-row {
  padding: 0; }
  #content-wrapper .info-row ul {
    padding: 0;
    margin: 0; }
    #content-wrapper .info-row ul li {
      padding-top: 6px;
      font-size: 14px; }

a#pull-request {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD%2FgAIDAAAKQWlDQ1BJQ0MgUHJvZmlsZQAASA2dlndUU9kWh8%2B9N73QEiIgJfQaegkg0jtIFQRRiUmAUAKGhCZ2RAVGFBEpVmRUwAFHhyJjRRQLg4Ji1wnyEFDGwVFEReXdjGsJ7601896a%2FcdZ39nnt9fZZ%2B9917oAUPyCBMJ0WAGANKFYFO7rwVwSE8vE9wIYEAEOWAHA4WZmBEf4RALU%2FL09mZmoSMaz9u4ugGS72yy%2FUCZz1v9%2FkSI3QyQGAApF1TY8fiYX5QKUU7PFGTL%2FBMr0lSkyhjEyFqEJoqwi48SvbPan5iu7yZiXJuShGlnOGbw0noy7UN6aJeGjjAShXJgl4GejfAdlvVRJmgDl9yjT0%2FicTAAwFJlfzOcmoWyJMkUUGe6J8gIACJTEObxyDov5OWieAHimZ%2BSKBIlJYqYR15hp5ejIZvrxs1P5YjErlMNN4Yh4TM%2F0tAyOMBeAr2%2BWRQElWW2ZaJHtrRzt7VnW5mj5v9nfHn5T%2FT3IevtV8Sbsz55BjJ5Z32zsrC%2B9FgD2JFqbHbO%2BlVUAtG0GQOXhrE%2FvIADyBQC03pzzHoZsXpLE4gwnC4vs7GxzAZ9rLivoN%2Fufgm%2FKv4Y595nL7vtWO6YXP4EjSRUzZUXlpqemS0TMzAwOl89k%2FfcQ%2F%2BPAOWnNycMsnJ%2FAF%2FGF6FVR6JQJhIlou4U8gViQLmQKhH%2FV4X8YNicHGX6daxRodV8AfYU5ULhJB8hvPQBDIwMkbj96An3rWxAxCsi%2BvGitka9zjzJ6%2Fuf6Hwtcim7hTEEiU%2Bb2DI9kciWiLBmj34RswQISkAd0oAo0gS4wAixgDRyAM3AD3iAAhIBIEAOWAy5IAmlABLJBPtgACkEx2AF2g2pwANSBetAEToI2cAZcBFfADXALDIBHQAqGwUswAd6BaQiC8BAVokGqkBakD5lC1hAbWgh5Q0FQOBQDxUOJkBCSQPnQJqgYKoOqoUNQPfQjdBq6CF2D%2BqAH0CA0Bv0BfYQRmALTYQ3YALaA2bA7HAhHwsvgRHgVnAcXwNvhSrgWPg63whfhG%2FAALIVfwpMIQMgIA9FGWAgb8URCkFgkAREha5EipAKpRZqQDqQbuY1IkXHkAwaHoWGYGBbGGeOHWYzhYlZh1mJKMNWYY5hWTBfmNmYQM4H5gqVi1bGmWCesP3YJNhGbjS3EVmCPYFuwl7ED2GHsOxwOx8AZ4hxwfrgYXDJuNa4Etw%2FXjLuA68MN4SbxeLwq3hTvgg%2FBc%2FBifCG%2BCn8cfx7fjx%2FGvyeQCVoEa4IPIZYgJGwkVBAaCOcI%2FYQRwjRRgahPdCKGEHnEXGIpsY7YQbxJHCZOkxRJhiQXUiQpmbSBVElqIl0mPSa9IZPJOmRHchhZQF5PriSfIF8lD5I%2FUJQoJhRPShxFQtlOOUq5QHlAeUOlUg2obtRYqpi6nVpPvUR9Sn0vR5Mzl%2FOX48mtk6uRa5Xrl3slT5TXl3eXXy6fJ18hf0r%2Bpvy4AlHBQMFTgaOwVqFG4bTCPYVJRZqilWKIYppiiWKD4jXFUSW8koGStxJPqUDpsNIlpSEaQtOledK4tE20Otpl2jAdRzek%2B9OT6cX0H%2Bi99AllJWVb5SjlHOUa5bPKUgbCMGD4M1IZpYyTjLuMj%2FM05rnP48%2FbNq9pXv%2B8KZX5Km4qfJUilWaVAZWPqkxVb9UU1Z2qbapP1DBqJmphatlq%2B9Uuq43Pp893ns%2BdXzT%2F5PyH6rC6iXq4%2Bmr1w%2Bo96pMamhq%2BGhkaVRqXNMY1GZpumsma5ZrnNMe0aFoLtQRa5VrntV4wlZnuzFRmJbOLOaGtru2nLdE%2BpN2rPa1jqLNYZ6NOs84TXZIuWzdBt1y3U3dCT0svWC9fr1HvoT5Rn62fpL9Hv1t%2FysDQINpgi0GbwaihiqG%2FYZ5ho%2BFjI6qRq9Eqo1qjO8Y4Y7ZxivE%2B41smsImdSZJJjclNU9jU3lRgus%2B0zwxr5mgmNKs1u8eisNxZWaxG1qA5wzzIfKN5m%2FkrCz2LWIudFt0WXyztLFMt6ywfWSlZBVhttOqw%2BsPaxJprXWN9x4Zq42Ozzqbd5rWtqS3fdr%2FtfTuaXbDdFrtOu8%2F2DvYi%2Byb7MQc9h3iHvQ732HR2KLuEfdUR6%2BjhuM7xjOMHJ3snsdNJp9%2BdWc4pzg3OowsMF%2FAX1C0YctFx4bgccpEuZC6MX3hwodRV25XjWuv6zE3Xjed2xG3E3dg92f24%2BysPSw%2BRR4vHlKeT5xrPC16Il69XkVevt5L3Yu9q76c%2BOj6JPo0%2BE752vqt9L%2Fhh%2FQL9dvrd89fw5%2FrX%2B08EOASsCegKpARGBFYHPgsyCRIFdQTDwQHBu4IfL9JfJFzUFgJC%2FEN2hTwJNQxdFfpzGC4sNKwm7Hm4VXh%2BeHcELWJFREPEu0iPyNLIR4uNFksWd0bJR8VF1UdNRXtFl0VLl1gsWbPkRoxajCCmPRYfGxV7JHZyqffS3UuH4%2BziCuPuLjNclrPs2nK15anLz66QX8FZcSoeGx8d3xD%2FiRPCqeVMrvRfuXflBNeTu4f7kufGK%2BeN8V34ZfyRBJeEsoTRRJfEXYljSa5JFUnjAk9BteB1sl%2FygeSplJCUoykzqdGpzWmEtPi000IlYYqwK10zPSe9L8M0ozBDuspp1e5VE6JA0ZFMKHNZZruYjv5M9UiMJJslg1kLs2qy3mdHZZ%2FKUcwR5vTkmuRuyx3J88n7fjVmNXd1Z752%2Fob8wTXuaw6thdauXNu5Tnddwbrh9b7rj20gbUjZ8MtGy41lG99uit7UUaBRsL5gaLPv5sZCuUJR4b0tzlsObMVsFWzt3WazrWrblyJe0fViy%2BKK4k8l3JLr31l9V%2FndzPaE7b2l9qX7d%2BB2CHfc3em681iZYlle2dCu4F2t5czyovK3u1fsvlZhW3FgD2mPZI%2B0MqiyvUqvakfVp%2Bqk6oEaj5rmvep7t%2B2d2sfb17%2FfbX%2FTAY0DxQc%2BHhQcvH%2FI91BrrUFtxWHc4azDz%2Bui6rq%2FZ39ff0TtSPGRz0eFR6XHwo911TvU1zeoN5Q2wo2SxrHjccdv%2FeD1Q3sTq%2BlQM6O5%2BAQ4ITnx4sf4H%2B%2BeDDzZeYp9qukn%2FZ%2F2ttBailqh1tzWibakNml7THvf6YDTnR3OHS0%2Fm%2F989Iz2mZqzymdLz5HOFZybOZ93fvJCxoXxi4kXhzpXdD66tOTSna6wrt7LgZevXvG5cqnbvfv8VZerZ645XTt9nX297Yb9jdYeu56WX%2Bx%2Baem172296XCz%2FZbjrY6%2BBX3n%2Bl37L972un3ljv%2BdGwOLBvruLr57%2F17cPel93v3RB6kPXj%2FMejj9aP1j7OOiJwpPKp6qP6391fjXZqm99Oyg12DPs4hnj4a4Qy%2F%2FlfmvT8MFz6nPK0a0RupHrUfPjPmM3Xqx9MXwy4yX0%2BOFvyn%2BtveV0auffnf7vWdiycTwa9HrmT9K3qi%2BOfrW9m3nZOjk03dp76anit6rvj%2F2gf2h%2B2P0x5Hp7E%2F4T5WfjT93fAn88ngmbWbm3%2FeE8%2FsyOll%2BAAAACXBIWXMAAAsTAAALEwEAmpwYAAAEJmlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyIKICAgICAgICAgICAgeG1sbnM6ZXhpZj0iaHR0cDovL25zLmFkb2JlLmNvbS9leGlmLzEuMC8iCiAgICAgICAgICAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIKICAgICAgICAgICAgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIj4KICAgICAgICAgPHRpZmY6UmVzb2x1dGlvblVuaXQ%2BMTwvdGlmZjpSZXNvbHV0aW9uVW5pdD4KICAgICAgICAgPHRpZmY6Q29tcHJlc3Npb24%2BNTwvdGlmZjpDb21wcmVzc2lvbj4KICAgICAgICAgPHRpZmY6WFJlc29sdXRpb24%2BNzI8L3RpZmY6WFJlc29sdXRpb24%2BCiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24%2BCiAgICAgICAgIDx0aWZmOllSZXNvbHV0aW9uPjcyPC90aWZmOllSZXNvbHV0aW9uPgogICAgICAgICA8ZXhpZjpQaXhlbFhEaW1lbnNpb24%2BMTAwPC9leGlmOlBpeGVsWERpbWVuc2lvbj4KICAgICAgICAgPGV4aWY6Q29sb3JTcGFjZT4xPC9leGlmOkNvbG9yU3BhY2U%2BCiAgICAgICAgIDxleGlmOlBpeGVsWURpbWVuc2lvbj4xMDA8L2V4aWY6UGl4ZWxZRGltZW5zaW9uPgogICAgICAgICA8ZGM6c3ViamVjdD4KICAgICAgICAgICAgPHJkZjpCYWcvPgogICAgICAgICA8L2RjOnN1YmplY3Q%2BCiAgICAgICAgIDx4bXA6TW9kaWZ5RGF0ZT4yMDEzLTEwLTI3VDE5OjEwOjE5PC94bXA6TW9kaWZ5RGF0ZT4KICAgICAgICAgPHhtcDpDcmVhdG9yVG9vbD5QaXhlbG1hdG9yIDIuMi4xPC94bXA6Q3JlYXRvclRvb2w%2BCiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY%2BCjwveDp4bXBtZXRhPgosgt7KAAAUV0lEQVR4Ae1ba7AcxXWemX3vvdLVC4GAIFu2Ali2gRCgMAhsg6DKTuzYMQkVsCVLYJce6FEJpQqSElKpVH6oDE6wCyMDBowxSTm2Q%2FwMdgK2Q2wwGMRbCBBCQYCRELr37u7dmZ3J93X39PTse%2B6sUlRlu%2FbeOdN9%2BvTpr8853T3TYx%2B46BRrmPpDwOmPbchFBIZgJbCDIVhDsBIgkIB1aFlDsBIgkIB1aFlDsBIgkIB1aFlDsBIgkIB1aFlDsBIgkIA1vWXZYWsgTDrMbn%2Ftn7N9%2FTBXytFNtyVC3tTXbGoJgS0UDoIAoky6q%2BRYra6c3QulHDaNZOgQy5Gl6f%2BnAQsgSZ0EWs20zJQagk3zdCJa%2B9JPLcmj1ehCQH5TaWuLPXLSgCVH1Q7HkygYtNRMNR%2Fmk0VkmbVinKqCuLTU0vKb5KgBsIVhi1pmDjLYRN9Wb6oQo9OARUFSD5NooskUJqGzvFEA6eohS5sra4UdVZUjeCXVKq01R1YFiLJIE21a7JSVJsDDOjqJHVx%2BENiOYzUaVn0q9OXpCae2GBtYn7S%2FaUhJA9Y0mktYBX3LZIOpmp0vOscttPyG9K6EUjR7utrpnpSqGU3r0j8BrbXimmiuDqSy2QAG5fvlDdsKH%2FpIMDFu2bHRbZXTSZptQ1uaFYxLOEQnxmYtzPtY22ZBKpqm7rBjMta0k6U9WBMxLo1Uwyuv31ZY9geBCzcMegpsLy0Srcs1EZX1pNIEeDWjxdpwMggMVsMLfJ%2FG4zjwI5hR4DfABgXlgLbVNCoNAgfeV68HnjeyflvxE3%2FGJhqNwHEQdszm%2FFCgmSnlaGmyCOALQheaNfql04BltAGAgAuMvDKBHtrFEn4oDqoVf3LCzuXtUpnBlQh2tH9VIJFy65bnKqQgHLUgX%2FTYRKtVls7RhKElSJ0NwpQU5%2BpwlwYsxiz6P%2FoAg%2FIbwCWz6MT8ecty7znVnnsU8v03XveeeKT%2Bs39v7H3BGZ2BDguL0xq3KAVRsCkg5brl9VuVTQW%2B5WTp1DBSQIZK7KaKPU0iOgGAcTQ5Zdwyc%2Fqh04Cl5GNqDxqe5XmlS1cVP73amTVbQKhK8%2Bd%2BuHjJ8urXbpj63j8HhaIDZgIcc0kJHvLpfW49cN2Rq7YUP3kZXMdu%2BMQICa5dq%2FqFIlyalbGeyBJBjhcECqFKjrAfsMTHBHcSL00oDfu%2FpAGLMQvdQWPoRnnVptLy1fAXxBpmoSdInms5tjNv%2FsjVf2uPzKjctcOCfbVNkU3Vy1dtLf7x5eQiUiIIwsMLJXvmLHvGGH0Z6LhTweSk79WdXN6C1zsZGRbbykYmakCGJATPdCCzU76%2BtzMZ%2F603Cxd%2BbPTa66kEZvp8QWgTqgQ0w8zxq1fV%2F%2Ft%2BZ8ZYc8dMpNZdU%2FzUZ1gZoACpMAVvHkRDNChpmJVJf%2F8%2B79kn3F%2Fe33jhWSJRHoExUXL7sMiICmEcX2Vioei%2Br2nBsty6PTpz5vV3ZBYtlqAElcnad%2B5CqIKP5H7vrMLHL7UBn8DLe%2BI341dfEXguIBZ%2Bo9SkI7suRJXX%2FiV8lrmMUxFSUXcEUtEtGMcP1%2B%2F7Ue2eu71nHsc0wqUZlvtt8BoAWJnN7zrGbDspDWjy519c%2FPil7F42F1SrE3%2BzqXb3zY39e%2F29z9d%2Fdq%2F%2F2v780gutXA79cuYvAF6NF3dxrgS%2FSOwEugekVm8u%2FskK5sVtSnChNgOToPFf%2FHgb2IVi9sQlhWUfw9h4jz8MsXY2BwkQqyqqi85oyo9zdb1LvSh1nOyJ72UT6LBl1b59Z%2F0%2FfwBQnLHZ9tgcRKupH367ds8%2FsZ%2BIXwhlJ72PWKCTrCMSijD3rdtS%2FNPPCjgC0%2FtCJngYVw%2Fil6HR4QcnxX9UbzTsUql85caR9VsBIy0XISyqOTAqLViYjuSSSs5Z3mMPMmbBWFyXKwAMZzbrPfor6it2KuhV0ywlXCbAAk3wYHJL2Dc5LfoeqsHlS59eY9W41pczjyELcjFA%2BMkGosEyeHqQacFi08KmVDtwAWRpFwBqwj1ZSiUDLFmltoZpWcC38tXrKrf8I9nQeZpeS0Im6mKNIn9NPBm6HuqULrsyu%2BRUQg85RqKziwRCaCchMzj6IGMS%2B%2BBvZsHs03h1H3PFhiZ%2FzodBYPfLVXsujwcGGMz8uReKatyrYAoTlhUNLNcfWGqWytXbbqjc%2BiVytsVLWhDWXPLXygOvhA7ZbP7iPwp8tOVHbYjmxT%2Bdp4morCeVZp1F4ein%2B%2BhDfIpSKOK28NFPec89XfuXO2hQsLBstvSZNfkPXszIggXnxGFv568BIs3MGFos68GJub%2F6tX%2BAVZZXrlV4Gdbhv%2FpK4%2FX9YKOobD5z%2FEJ7BGuFeBJb9%2FxZ51XnLwgOHcCDHT2NcEiUvRsNx2v3vEsLllUebTyzE7NeYdkfYkazcvmRjdtyv%2F8B7%2FFH0OHcqWfmzlpKJRDdc%2Fmpe%2F%2BtsWe3XR61MPJmEhMi1hPE69YvolOlz66L8AI6to3FQfXOm5yxWXQ37APmHV1auSG%2F9AJiZ3g9pDoLjsu%2B%2B%2BT6f%2F3ELpZFiNBGhEY1bTbfL50WLDnvVG%2F%2Fcm7Jac6xx1O5TAZrBS4XdIJ35AuN53fVvnkzV%2FbYETdFHHBGeJWrt9K%2BSivWEC8hkJIQqqaqQa1AsGwby9HJv9%2FszP5q9r2nRTwhapmFi6yfy8Cn0WHMEu0gJz5UlN5XShOzqAd2hfbIKPbJ43%2B9AXBwOgc0xAKOhhDlC0PIeE%2FtHL92ow8%2FKpbpdG11E3gxJJVKlZu%2FWL3tRnJBoJxAsErIF%2Bx8nr9czpkzz3%2FzQO1fv6l4tECBCJYsNDdB6xJBaJg0ES%2FvepcGLD51kBaBHYz39KPjW9Z4%2F%2FMyewuMoIwcZ8cBiOPXrPZfes4aGeV2RMxKWtkYEeLllMuVW66v3A689LIrwMAAaP4AH9ZWuZy353ksg9lBZKp%2BCq%2FkOosjYowKtUXYEo3HS1TF3pc0YBnSYSwjM%2FyDv7UOvC7GM9RcsPi%2FfS04dBC7Iu6Bw6S7oTVQOeiTcD0H8%2BPN11Vv%2F4qqAXT4jIEpDNV4JuHSPWWmvPA%2FW5cLNkMPWRUZmogq9ElpVfvkN9kwSrxVnURnMCFypmtJ%2BRw8iHYhbS1ebvQnLFD2lcFyl3jdQfuC94mpja0ZVWgtYbUjfk0T4JXOuFBf%2FMEi2oQJ%2BAiCFwM%2FWIx%2Bdu2bwAu7vKAYVHZ8wR4do1uxfmSbYf0mkdTlCKU0YEUqKX27DXLyPhAvj7viAvDa7syaa4%2FMZDSUrSSXF6k7XSqNGxptHiHVpX3BtX0fMylgihy5yZ4MXY4cORiw9ANudqHVvkIo5UpHdkZ3tgcBgLBxwYILUa%2FFi3VdyDRotmfcygYH8H8wYImgRW2Emh311LOY4hT6h0hqGdEnMrqIKIu9ns6R3NGt%2BcxHAGUUiWYG8W8wYLUN65F6HdGLWEyqL%2FZmpiMBjqkU6cGA1Sz17XgPdCWgzTD3r%2BxgwGoNU901gNbaEjShq7TmyCKzVlTfoLSEViLl2l0KHOjSoVVHmdPSe3NwTVqyt%2Ba0yY%2BYIqpT%2B4PKH4xl9Zh7jmx3WoaiHTaYImBcwgOmr82AwGqnX2ve9NVslRXlJJKqkdVEJKgnNRiwesSsULHw2lOrwTOEMSuVfQ0GrB5Lh8H33ZTY5xBoA9SEKaQvejABvkdT01evs%2BA%2BIQoFiOFknXAXATqxWoOxrISahz3ocO0kDflRUdTTiOogb2DZgwHL6EQ7zaIuxksR6npEuzh%2FX3ftsQvnQe7EQ7ovcSZTGrAiDHrErBb9Vc1aFY8TePoUyUCthV0pjPyoKGrc7A4FNd2HtzpfE2FJ39c0YEXPSzpq2EEPvrPIZLKnnY33N3jLD5pPDTnoHSq0ZkewtZa1yQnXWW%2BHZ%2FDhoLMLho00aS2DK%2F3AtvxarXT558uf%2Bwu%2FOokXEDyExCf0REvjoAkpJ2wkkioYFMAhM64xIYq7%2F2GIxDdTaSxLPYOHSK0JXxO0%2BqQoxj%2B5ggY%2FXtjbeAbtujg1OnLln%2BPcEh6KOvJtM5hCceFVKU0Jpv546Q%2BTDLENi8QV8vHqLJaobWhfKAixjfH0uEkDVlvRoc5mYRw%2BoSZON2dwNghcpRVry1dswhstPkSW%2FhjHxJSkaAiE%2F%2BJQxeREODa684Ko16xaxcqYvZM%2BrtXTRBvxnbJMcZ14OuUbMastS4iRg7Og%2BXy4wJHmQdV5cEFYUWn5mvLKjUGlIv2xR%2FzCLg8%2Bi0jHIycX4A2baByOLd7sCqCzp5yZWXRScPgtbV%2FABk2J1jSsbZXulpkGrLhcKIJXePwOwkhi%2FDLvXJxZ%2BC6cCuErZeE7tCB6kEjixR9e1pdXAa9Jvj3tbF%2FsM23KBxvOVJbXbKYIvD1EggLAIcD78EZ2ySkzrrst87tLgslxPpKWiSjhT9rUdCALBSl5iS5RzKIS6EN9yj%2F4RlyEGPBcrrR8LUwALx3gOPgEh7%2FxwzyrhYTgQqMQ%2Frhyg2%2FiFRqDlsku2g4gKF6ygicFkXggWlkob21xHNB1M8efMLp1uz13Pk%2F4AC9xCgkzrohc5CNzwpT2TKlujidEqpOZExblTj%2BbmcLiSYiBxQmh7HtODeouIOMhyqOOceYdUzhvmXP0sXQ68AAv286ddiZ8pf7QL3B%2BhPYlMilEJjggztdWJjLvWDy6%2Be%2FsYpHndrI5%2F5V9eBFb%2B9Yd9V%2F8FGDwKDDqunUHHy7Uau6DP1dnj7RKobyk18HtDfk1iuPu%2FDWjiXh5JWFSARhAnH42fjgljxwMq49PBPCSGTYpZz8YpnDA0sqr4GXV279k4ai2BFH3iW96LMjPn3%2BRjbNHMMxcnmdSrlnT2PUkTsPDN%2Bs%2F%2FX5p30vl5as54eJI4QUfqX33G8HhQxZfaEvXQ%2FZ0fBBapHJD3QsSeO1cLPFg%2Bs5HxG3Lq2PhazwDUyhYhYIDuxBGp4UoU7Ks8hUbyiuuosPyKK3hL3BA5BTL%2BNyFtcRkV731hsauJ5z5x%2BAwjzNrjl3MV%2B%2B80XvyMc4eVpA5bmHmHe%2B2MDki0bK0NE2wpM%2BUBqzYbIiJnOfdKxP1e%2B5m29AVKymdMKrQFXjxRKBYi6lxRrahN02JtUqr1jPMuR7GAI4pxYARqzMceLNnz6UQ28GREx5%2Fx4SIW56u8exC2apV3d%2BII79QAEec5x0tl7uQIt7SSrWnY1xpwNJICAKK%2BA1ndGb9%2Fh%2FXvvV1ZiFwhEdcFKscW6G1GGeVHbsg3guUy1dsLHz0En9yHIffDAYBul5w8nyp3CrJjsjVQYDTSGJIRD0wx5AxpRmC%2ByDTgGXOhqIpeCJ2xbls5abtte%2FKY2biCCggC%2B2IfFAdt%2BavWVGWNl56AU7N8Ke7CgIHU7Hcx9kmJM9zZs%2FJnf4BTKywR5yKYPgfP%2BTMnps7U5zNFH7qv%2FGqcFgp5e0xG1J7jJn6wKHh%2FvI%2B%2F%2BCB7DsX2zNmMjZJH1RuKJ1RHPGQPij%2FU4RYNDlZIMWwvfspZ2Qmz%2FKqJD6wmziMORTHVunROLZ68vu9Pbsbu5%2FBwgU44rzNyLotLOWSIoPwX%2FvGDro21ndsRQMfikxyHdjSQTUqQOHRF3wc8uiD7gP%2F4R86iAMwzpy5xAuomT%2FkwL7wHz%2BZsLyUSG1dh5OCztgcHvILC8EsVpiB%2F9or%2BaUX2TPH8EkQ4np%2B6TJnwe9kjj0hd8a55Ss35c8%2Bn2KRHKd25w4sHRyEOVqzMi7VVvJLmg%2Bdug4UFxIOXaY%2B5Ry1AJ%2BsYFbC8orfbgloEHTzZ5yDWYwdA4JIEqm9L45vWevv2WWPzVar1nivMGnyO7SLPzm6bTtLwk%2FOIi7p9dmc%2B9AD49vWIW5y8BRWwKur2pGUNlQasNhrNVptJDNLbM0CrKEBGT0AviBdEqNcr8%2FYfkv%2BnA9xikRwwaIpk23s3TO%2Bda3%2F4rOdkKJMYWlYmhYvX13%2B3CbVMgCCZGVQ3Eh5zz41ce0Gf%2F%2FLOEnOmZrmaZiXqpbsMoBFaZeRwlwORHF8Ep9W0gtE9KHatKaM8CmhrkTq5Zd6IsWqchlbKtfuusl%2FZW%2Fxss9nF5%2FEU79IFG1hLzV17%2FeqX78xOPi6RIq5TKZZddFaMrf5nwYszCyMAvzrlEKPU%2BXiVhiHCFWyc4jEOCUvkMJnlvhquK33mS1gn0egi6Wpn9zjPvxA9v1nZBefzNWW5zbwxebjD3u7n8bMaCIldg2QIfcLULyb1mZbJp0GLFNOf7RSkSsD4TJCYyC1b%2B%2FE1rWNF57pBym2RPfnYpUzQHWyft8P8VNuiAfWOCU%2FMgqLhvfF1ZoOQKaENGBxKTyNEaJRSX%2BBkyKs731x4q%2FWe8%2F3jVSoPvCGKWHbAB9XGwMUca7gYdTmTThtCsXKG4h3V5cIG4ld04A1nfaoL9Xk7gRbOf%2BtQ%2BNYJfTnfTHF5Q3NB6s2fucLQ6NYLDUwgLwjNkbS2mrCKOyPTAOWamE6jXPXXXSffMzd8YXGc0%2FiWUrPONWtOwIXIiVTM0xmVRmz6MVmbp%2F0AJYOScEiPyIO9nR4BFaZwJcBYqPbW2FURDJ7mahpgaGqIeK9Kal36%2BBIY1l9zIbtdKCOcB%2F4i%2BtySQE%2F6i%2B1dq41p7Mkpa2Il0nqGRLTgKXEyHAtDdugpR0YTcVIMfdjic%2BVV3fOWLWWG7UUEPmtcMgcLV%2BalbydDl5pwFLzC555QlfsU%2FHfoLtr09qxFhw6Z0jRotMKDpETGDrIuGVCKcWpdv%2FvZ0PZvAZFE8g36bad1gyaaMvWM1NW10K6EFJUK0PPJiKGNJYVWofwI%2BWGES2tPWopTkFpMoha3Tnj9Yw70W8pR37Kb%2BojQVF2F6%2BE5mSpkd0fmQYs3aQm0KamNdFJEc2giU6c3fN19U6Ezpdymm67C4%2BVpnlSGhP0%2F%2BFmCFaCUR6CNQQrAQIJWIeWNQQrAQIJWIeWNQQrAQIJWIeWNQQrAQIJWIeWNQQrAQIJWP8XSezfr0vdD2wAAAAASUVORK5CYII%3D) no-repeat left center;
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  float: right; }

.popover {
  border: 1px solid #fb0006;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.popover.top .arrow {
  border-top-color: #fb0006; }

.site_navigation .footer-index ul {
  padding-left: 0px; }
.site_navigation .footer-index li {
  list-style-type: none;
  padding-left: 8px; }
  .site_navigation .footer-index li a {
    display: block; }
  .site_navigation .footer-index li:hover {
    border-left: 2px solid #fb0006;
    padding-left: 6px; }

footer.page-footer {
  padding: 30px 0;
  background-color: #380200;
  color: white; }
  footer.page-footer .contributors {
    font-size: 24px; }
  footer.page-footer .sponsors {
    font-size: 20px; }
  footer.page-footer h4 {
    text-transform: uppercase;
    color: #6f6f6f;
    font-size: 14px;
    margin-bottom: 0px; }
  footer.page-footer p {
    margin: 0 0 20px;
    font-size: 18px; }
  footer.page-footer article.minor p {
    margin: 0 0 14px;
    font-size: 14px; }
  footer.page-footer a:hover, footer.page-footer a:focus {
    color: white; }
footer.footer-links {
  background-color: #bc0004; }
  footer.footer-links ul {
    margin-left: -16px;
    padding-left: 0; }
  footer.footer-links li {
    border-right: 2px solid rgba(251, 0, 6, 0.5);
    list-style-type: none;
    font-size: 12px;
    padding-bottom: 6px; }
    footer.footer-links li:hover {
      border-right: 2px solid #fb0006; }
    footer.footer-links li a {
      color: white; }
  footer.footer-links .cocoapods-small-logo {
    display: block;
    position: absolute;
    top: 2px;
    left: -70px;
    margin-bottom: 12px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEgAAABIBAMAAACnw650AAAABGdBTUEAALGPC%2FxhBQAAAAFzUkdCAK7OHOkAAAAYUExURfoqAf%2F%2F%2F%2FoiAP%2Ff2v2VgvtIJ%2FxuVP68sNqAAv0AAAGFSURBVEjH7VRNU4MwEGWo1PMbpFwzHYrXMljPSrW9Iq16Fmm9Smesf99sUmhI0h686IF3IVleNm8%2Fso7To8dfYszBzlNcr1p%2BLzbj9oiNs67B4e9duWcfucm5SCBxK1jeHKVBihsO8EW6LoGp4eit5cAvuCECRnoQMRTM%2BF8vQchOOwJCstwDRZfkCUU3m%2BdKLDJOehIfFdeC4%2FJkrmkVSFNXOR2TeuXFV0yo7ConAUKuDAs%2BLRL5OYKUlMq6kAdLPQG%2B6pUkr4CdSqIrGgHuKk3TTBoDpgUX6PmdyABaDGCrVN1VTqRPWzlLjbQzSFrO7Z606lk1OVofWKPT6xJBC%2Ffgfnoy4%2B8ymRRcZtQu69aR0pQbXTA6dgFyM%2BGOQ%2F2Ekmxj4lNUkRGLOB4WvDNfcYh0YOZXtHa42C7R9LhWFNEf%2BmsxG9Py7mJL5lRX4kXwIsyMQk3qlnRHHvj8yMypMmwmxp7JfV1Y5tNwLu56dJuZZp107KV62ObtgHN%2FPTN79PhH%2BAG7HkKuDBZUwQAAAABJRU5ErkJggg%3D%3D) no-repeat left center;
    height: 36px;
    width: 36px;
    background-size: 36px 36px; }

@media (max-width: 800px) {
  footer.footer-links .cocoapods-small-logo {
    position: static; } }
@media (max-width: 1000px) {
  footer.footer-links .cocoapods-small-logo {
    left: -40px; } }
@media (min-width: 1200px) {
  .hidden-lg-span {
    display: none; }

  .visible-lg-span {
    display: inline; } }
@media (max-width: 1200px) {
  .hidden-lg-span {
    display: inline; }

  .visible-lg-span {
    display: none; } }
