<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if page.title %}
      <title>{{ page.title }} - {{ site.name }}</title>
    {% else %}
      <title>{{ site.name }}</title>
    {% endif %}

    <meta name="description" content="The blog for CocoaPods.org an Objective-C dependency manager">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/main.css">
    <script src="/sharedjs/modernizr.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    {% include header.html %}

    <section class="container row">
      <header class="col-md-12" id="blog-header">
        {{ site.name }}
        <div class="horizontal-divider"><div class="arrow-down"></div><div class="enclosed-arrow-down"></div></div>
      </header>
    </section>

    <section id="content-wrapper">
      <section class="container row">
        <article class="content col-md-8">
          {{ content }}
        </article>

        <aside class="sidebar col-md-4">
          {% include sidebar.html %}
        </aside>
      </section>
    </section>

    <!-- <section class="container row"> -->
    <!--   <footer class="col-md-12"> -->
    <!--     {% include footer.html %} -->
    <!--   </footer> -->
    <!-- </section> -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/sharedjs/jquery.min.js"><\/script>')</script>
    <script src="/sharedjs/bootstrap.min.js/"></script>
    <script src="/js/FitText/jquery.fittext.js"></script>
    <script type="text/javascript">
      jQuery('#blog-header').fitText(1, {minFontSize:'35px', maxFontSize:'60px'});
    </script>
    <!-- <script> -->
    <!--   var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; -->
    <!--   (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0]; -->
    <!--   g.src='//www.google-analytics.com/ga.js'; -->
    <!--   s.parentNode.insertBefore(g,s)}(document,'script')); -->
    <!-- </script> -->
  </body>
</html>

