---
layout: default
---
<div id ="{{ page.post_title_id }}">
<section class="container" >
  <article class="row">
  <header class="col-md-8 col-md-offset-2 headline blog-post">
    {% if page.post_title %}
      <h1>{{ page.post_title }}</h1>
    {% else %}
      <h1>{{ page.title }}</h1>
    {% endif %}
    
  </header>
  </article>
</section>
</div>

<section id="content-wrapper" class="post">
  <section class="container">
    <article class="row">
      <article class="author metadata col-md-2 col-md-push-10">
        <header>
          {% assign a = site.authors[page.author] %}
            {% if a.gravatar %}
              <img class="gravatar large" src="{{ a.gravatar | gravatar_url }}" height=72 width=72>
            {% endif %}
            {% if a %}
              {% if a.twitter %}
                <p><a href="https://twitter.com/{{ a.twitter }}">{{ a.name }}</a></p>
              {% endif %}
            {% endif %}
             <p>{{ page.date | date: "%-d %B %Y" }}</p>

            {% if a.twitter %}
              <a href="https://twitter.com/{{ a.twitter }}" class="twitter-follow-button" data-show-count="false" data-lang="en">
                Follow @{{ a.twitter }}
              </a>
            {% endif %}
        </header>
      </article>
    
      <article class="content col-md-8">
        {{ content }}
      </article>
    </article>
  </section>
</section>

{% shared_include blog/post-accessories %}

{% shared_include blog/post-paginate %}

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

