---
layout: default
---

<section class="container row">
  <header class="col-md-12 headline blog-post">
    <h1>{{ page.title }}</h1>
  </header>
</section>

<section id="content-wrapper" class="post">
  <section class="container row">
    
    <article class="content col-md-9">
      {{ content }}
    </article>

    <article class="author metadata col-md-3">
      <header>
        {% assign a = site.authors[page.author] %}
          {% if a.gravatar %}
            <img class="gravatar large" src="{{ a.gravatar | gravatar_url }}" height=72 width=72>
          {% endif %}
          {% if a %}
            {% if a.twitter %}
              <p><a href="http://twitter.com/{{ a.twitter }}">{{ a.name }}</a></p>
            {% endif %}
          {% endif %}
           <p>{{ page.date | date: "%-d %B %Y" }}</p>
        </h5>
      </header>
      
    </article>
  </section>
</section>
